@{
    Layout = null;
    ViewBag.Title = "Listado de sorteos";
}

<div class="col-lg-12 no-padder" ng-controller="RaffleListController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- START panel-->
                <div class="col-lg-12 text-right m-b-xs no-padder">
                    <a href="#/raffle/raffle/0" class="btn btn-square btn-success {{moduleCanAdd}}"><i class="fa fa-plus-square"></i> Agregar sorteo</a>
                </div>
                <div class="row-border hover ">
                    <table class="table dataTableGrid">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Prospecto de Billetes</th>
                                <th>Fecha de Sorteo</th>
                                <th>Inicio Devolución</th>
                                <th>Fin Devolución</th>
                                <th>Estatus</th>
                                <th class="editColumm">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="raffle in raffles">
                                <td>{{raffle.raffleNomenclature}}</td>
                                <td>{{raffle.ticketProspectDesc}}</td>
                                <td>{{(raffle.raffleDate | date:"dd/MM/yyyy")}}</td>
                                <td>{{(raffle.startReturnDate | date:"dd/MM/yyyy h:mm:ss a")}}</td>
                                <td>{{(raffle.endReturnDate | date:"dd/MM/yyyy h:mm:ss a")}}</td>
                                <td>{{raffle.statuDesc}}</td>
                                <td>
                                    <a href="#/raffle/raffle/{{raffle.id}}" ng-show="raffle.statu != '@((int)Tickets.Models.Enums.RaffleStatusEnum.Generated)'" title="Moificar Sorteo" class="{{moduleCanEdit}}"><i class="fa fa-pencil-square-o"></i></a>
                                    <a ng-show="raffle.statu != '@((int)Tickets.Models.Enums.RaffleStatusEnum.Generated)' && raffle.statu != '@((int)Tickets.Models.Enums.RaffleStatusEnum.Suspended)'" ng-click="deleteRaffle(raffle)" title="Suspender Sorteo" class="{{moduleCanDelete}}"><i class="fa fa-ban"></i></a>
                                    <a href="#/raffle/copy/{{raffle.id}}" ng-show="raffle.statu != '@((int)Tickets.Models.Enums.RaffleStatusEnum.Generated)'&& raffle.statu != '@((int)Tickets.Models.Enums.RaffleStatusEnum.Suspended)'" title="Copiar Asignaciones" class="{{moduleCanEdit}}"><i class="fa fa-files-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 no-padder text-left m-b-lg"> 
    <a ui-sref="app.dashboard" class="mr btn btn-square btn-default"><i class="fa fa-arrow-left "></i> Salir</a>
</div>
