@{
    Layout = null;
    ViewBag.Title = "Creación de tipo de premio";
    var context = new Tickets.Models.TicketsEntities();
}
<!-- START panel-->
<div class="col-lg-12 no-padder" ng-controller="TypesAwardController" ng-init="app.title = '@(ViewBag.Title)'">
    <div class="col-lg-12 no-padder">
        <div class="panel panel-default">
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-12 control-label-left">Nombre:  <span class="color-red">*</span></label>
                        <div class="col-lg-12">
                            <input type="text"
                                   ng-model="typesAward.Name"
                                   class="form-control"
                                   ng-required="true" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-12 control-label-left">Descripción: </label>
                        <div class="col-lg-12">
                            <textarea class="form-control"
                                      ng-model="typesAward.Description"
                                      style="max-height: 109px; height: 109px;"></textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-12 control-label-left">Grupo:  <span class="color-red">*</span></label>
                        <div class="col-lg-12">
                            <select ng-required="true" class="form-control input-sm" ng-model="typesAward.GroupId">
                                <option selected="selected" disabled="disabled" value="0">Seleccione un grupo</option>
                                @foreach (var catalog in context.Catalogs.Where(c => c.IdGroup == (int)Tickets.Models.Enums.CatalogGroupEnum.TypesAwardGroup && c.Statu == true).ToList())
                                {
                                    <option value="@catalog.Id">@catalog.NameDetail</option>
                                }
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-12 control-label-left">Creación: <span class="color-red">*</span></label>
                        <div class="col-lg-12">
                            <select ng-required="true" class="form-control input-sm" ng-model="typesAward.Creation">
                                <option selected="selected" disabled="disabled" value="0">Seleccione un creación</option>
                                @foreach (var catalog in context.Catalogs.Where(c => c.IdGroup == (int)Tickets.Models.Enums.CatalogGroupEnum.TypesAwardCreation && c.Statu == true).ToList())
                                {
                                    <option value="@catalog.Id">@catalog.NameDetail</option>
                                }
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder text-left m-b-lg">
        <a ui-sref="app.typesawardlist" class="mr btn btn-square btn-warning"><i class="fa fa-times"></i> Cancelar</a>
        <a ng-click="saveTypesAwardForm()" class="mr btn btn-square btn-primary {{typesAward.Id > 0? moduleCanEdit: moduleCanAdd }}"><i class="fa fa-floppy-o"></i> Guardar</a>
    </div>
</div>