@model Tickets.Models.Raffle
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Resumen de Asignaciones";

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.LoteryAdmin : "";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <img src="~/Images/logo.png"/>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b><br />
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b><br />
            <h3><b>RESUMEN DE ASIGNACIONES DEL SORTEO No.@Model.Id</b></h3><br />
            Fecha del Sorteo @Model.DateSolteo.ToShortDateString()
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
            <b>Fecha: </b> @DateTime.Now.ToShortDateString() <br/>
            <b>Hora: </b> @DateTime.Now.ToShortTimeString()
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-left"><h5><b>ASIGNACIONES</b></h5></th>
                    <th class="text-left"><h5><b>FECHA</b></h5></th>
                    <th class="text-left"><h5><b>NOMBRE</b></h5></th>
                    <th class="text-right"><h5><b>FRACCIONES</b></h5></th>
                    <th class="text-right"><h5><b>HOJAS</b></h5></th>
                    <th class="text-right"><h5><b>NUMEROS</b></h5></th>
                    <th class="text-right"><h5><b>MONTO</b></h5></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var allocations = context.TicketAllocations.AsEnumerable().OrderBy(o => o.ClientId).Where(n => n.RaffleId == Model.Id)
                        .Select(s => new
                        {
                            id = s.Id,
                            createDate = s.CreateDate,
                            client = s.Client.Name,
                            fractions = s.TicketAllocationNumbers.FirstOrDefault().FractionTo - s.TicketAllocationNumbers.FirstOrDefault().FractionFrom + 1,
                            numbers = s.TicketAllocationNumbers.Count,
                            amount = s.Raffle.Prospect.Prospect_Price.FirstOrDefault(p => p.PriceId == s.Client.PriceId).FactionPrice,
                            sheets = s.Raffle.Prospect.LeafNumber
                        }).ToList();

                    var totalValue = 0.0m;
                    int totalFraction = 0;
                    int totalNumber = 0;
                    int totalSheets = 0;
                }

                @foreach (var allocation in allocations)
                {
                    int Fractions = allocation.fractions * allocation.numbers;
                    var Value = allocation.amount * Fractions;
                    int Sheets = allocation.numbers * allocation.sheets;
                    
                    <tr>
                        <td class="text-left">@allocation.id</td>
                        <td class="text-left">@allocation.createDate</td>
                        <td class="text-left">@allocation.client</td>
                        <td class="text-right">@Fractions.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-right">@Sheets.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-right">@allocation.numbers.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-right">@Value.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    
                    totalNumber += allocation.numbers;
                    totalFraction += Fractions;
                    totalValue += Value;
                    totalSheets += Sheets;
                }
                <tr class="total">
                    <td class="text-left"><h5></h5></td>
                    <td class="text-left"><h5></h5></td>
                    <td class="text-left"><h5><b>Total...:</b></h5></td>
                    <td class="text-right"><h5><b>@totalFraction.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</b></h5></td>
                    <td class="text-right"><h5><b>@totalSheets.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</b></h5></td>
                    <td class="text-right"><h5><b>@totalNumber.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</b></h5></td>
                    <td class="text-right"><h5><b>@totalValue.ToString("c", new System.Globalization.CultureInfo("es-DO"))</b></h5></td>
                </tr>
            </tbody>
            
        </table>
    </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <b>@adminName</b><br />
        <span>Administrador General</span>
    </div>
</div>