@model Tickets.Models.TicketAllocation

    @{
        Layout = "~/Views/Shared/_ReportLayout.cshtml";
        ViewBag.Title = "REPORTE DE CONSIGNACION NO. " + Model.Id;

        var context = new Tickets.Models.TicketsEntities();
        var config = context.SystemConfigs.FirstOrDefault();
        string adminName = config != null ? config.Facturacion : "";
        string adminCargo = config != null ? config.FacturacionCargo : "";
        System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-DO");

        var TotalBilletes = 0;
        var consignadorId = Model.TicketAllocationNumbers.Select(s => s.UserConsigned).FirstOrDefault();
        var Consignador = context.Users.Where(w => w.Id == consignadorId).Select(s => new { Consignador = s.Employee.Name + " " + s.Employee.LastName }).FirstOrDefault();
    }
    <style>
        .col-lg-12 {
            width: 100%;
            float: left;
        }

        .col-lg-4 {
            width: 33.333%;
            float: left;
        }

        .col-lg-6 {
            width: 50%;
            float: left;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .text-left {
            text-align: left;
        }

        .no-padder {
            padding-left: 0px;
            padding-right: 0px;
        }
    </style>

    <div class="col-lg-12">
        <div class="col-lg-12 no-padder text-center">
            <div class="col-lg-6 no-padder">
                <div class="col-lg-12 no-padder text-left">
                    <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>LOTERIA NACIONAL DOMINICANA</b>
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>SUCURSAL SANTO DOMINGO</b>
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>RNC:</b> 401007681
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>FECHA:</b> @Model.CreateDate.ToShortDateString()
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>CONSIGNACION:</b> @Model.Id
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>SORTEO:</b> @Model.RaffleId
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>FECHA SORTEO:</b> @Model.Raffle.DateSolteo.ToString("dd/MM/yyyy")
                </div>
            </div>
            <div class="col-lg-6 no-padder text-right">
                <div class="col-lg-12 no-padder text-right">
                    <b>CODIGO: </b> @Model.ClientId
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>CEDULA/RNC: </b> @Model.Client.DocumentNumber
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>RAZON SOCIAL/NOMBRE: </b> <br /> @Model.Client.Name
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>DIRECCION: </b> @Model.Client.Addres
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>TELEFONO: </b> @Model.Client.Phone
                </div>
            </div>
        </div>
        <div class="col-lg-12 no-padder" style="margin-top:20px;">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">FILA</th>
                        <th class="text-center">COL 1</th>
                        <th class="text-center">COL 2</th>
                        <th class="text-center">COL 3</th>
                        <th class="text-center">COL 4</th>
                        <th class="text-center">COL 5</th>
                        <th class="text-center">COL 6</th>
                        <th class="text-center">COL 7</th>
                        <th class="text-center">COL 8</th>
                        <th class="text-center">COL 9</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TicketAllocationNumbers.Any())
                    {
                        HashSet<int> Billetes = new HashSet<int>();
                        Model.TicketAllocationNumbers.ToList().ForEach(f => Billetes.Add((int)f.Number));
                        var BilletesOrdenados = Billetes.OrderBy(o => o).ToList();
                        TotalBilletes = Billetes.Count();
                        var numberCount = -1;
                        int line = 1;
                        var production = Model.Raffle.Prospect.Production - 1;
                        var NextBiggerNumber = 0;
                        var MaxNumber = Model.TicketAllocationNumbers.Max(n => n.Number);
                        int inicio = 0, fin = 0;

                        while (numberCount <= MaxNumber)
                        {
                            int countTen = 1;
                            <tr>
                                <td class="text-center" style="color:red; font-weight:bold; font-size:12pt;">@line</td>
                                @while (countTen <= 9 && numberCount <= MaxNumber)
                                {
                                    NextBiggerNumber = BilletesOrdenados.FirstOrDefault(f => f > numberCount);
                                    numberCount = NextBiggerNumber;
                                    if (Model.TicketAllocationNumbers.Where(n => n.Number == numberCount).Any())
                                    {
                                        countTen++;

                                        if (Model.TicketAllocationNumbers.Where(n => n.Number == (numberCount + 1)).Any())
                                        {
                                            inicio = (int)numberCount;
                                            numberCount++;
                                            while (Model.TicketAllocationNumbers.Where(n => n.Number == numberCount).Any())
                                            {
                                                fin = (int)numberCount++;
                                            }
                                            string stringNumberI = inicio.ToString();
                                            string stringNumberF = fin.ToString();
                                            string newStringNumberS = (stringNumberI.PadLeft(production.ToString().Length, '0') + " - " + stringNumberF.PadLeft(production.ToString().Length, '0'));

                                            <td class="text-center">@newStringNumberS</td>
                                        }
                                        else
                                        {
                                            string stringNumber = numberCount.ToString();
                                            string newStringNumber = stringNumber.PadLeft(production.ToString().Length, '0');
                                            <td class="text-center">@newStringNumber</td>
                                        }
                                        if (numberCount == MaxNumber)
                                        {
                                            numberCount++;
                                        }

                                    }
                                }
                            </tr>
                            line += 1;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="11" class="text-center">
                                NO TIENE BILLETES CONSIGNADOS
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-lg-12 no-padder">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">FRACCIONES</th>
                        <th class="text-center">BILLETES-FRACCIONES</th>
                        <th class="text-center">PRECIO</th>
                        <th class="text-center">SUBTOTAL</th>
                        <th class="text-center">DESCUENTO</th>
                        <th class="text-right">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var TotalFractions = Model.TicketAllocationNumbers.Sum(s => s.FractionTo - s.FractionFrom + 1);
                        var fractionsByTicket = Model.Raffle.Prospect.LeafNumber * Model.Raffle.Prospect.LeafFraction;
                        var ticketPrice = Model.Raffle.Prospect.Price;
                        var subTotal = ticketPrice * TotalFractions;
                        var Discount = (TotalFractions * ticketPrice) * (Model.Client.Discount / 100);
                        var Total = subTotal - Discount;
                    }
                    <tr>
                        <td class="text-center">@TotalFractions.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-center">@((TotalFractions / fractionsByTicket).ToString("n0", new System.Globalization.CultureInfo("es-DO")))-@(TotalFractions % fractionsByTicket) </td>
                        <td class="text-center">@(ticketPrice.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                        <td class="text-center">@subTotal.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-center">@Discount.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-right">@Total.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr style="border-top: 4px double black">
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Sub Total: @subTotal.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Descuento: @(Discount.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Total a pagar: @(Total.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div>
            <b>NOTAS:</b> <br />
            <ul>
                <li>
                    El total a pagar está sujeto a variación, luego de aplicada la devolución.
                </li>
                <li>
                    La Lotería Nacional no se responsabiliza de intercambios de billetes/boletos entre distribuidores, debido a que el Sistema registra la devolución a nombre del distribuidor al cual se le consignó el producto.
                </li>
                <li>
                    En caso de no existir devolución por parte del consignatario, este reporte de consignación será considerado como factura final al cliente.
                </li>
            </ul>
            <p>
                <b>Con la firma del presente documento el consignatario se adhiere voluntariamente a todas las notas plasmadas que forman parte integral de éste.</b>
            </p>
        </div>

        <div class="col-lg-12 no-padder text-center">
            <br />
            <br />
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                FIRMA DEL CONSIGNADOR
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                FIRMA DEL CONSIGNATARIO
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                FIRMA DE DESPACHO
            </div>
        </div>

        <div class="col-lg-12 no-padder text-center">
            <br />
            <br />
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            <b>@adminName</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">

            </div>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <span>@adminCargo</span>
        </div>
    </div>
