@model Tickets.Models.Raffle
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Reporte Asignaciones";

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.Inspectoria : "";
    string adminCargo = config != null ? config.InspectoriaCargo : "";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <img src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b><br />
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b><br />
            <b>Asignación de Billetes del sorteo @Model.Name No.@Model.Id</b><br />
            Fecha del Sorteo @Model.DateSolteo.ToShortDateString()
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-right">
            <b>Fecha: </b> @DateTime.Now.ToShortDateString() <br />
            <b>Hora: </b> @DateTime.Now.ToShortTimeString()
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-right">NUMERO</th>
                    <th class="text-right">FRACCIONES</th>
                    <th class="text-right">PRECIO POR FRACCION</th>
                    <th class="text-right">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var clientId = ViewBag.ClientId == null ? 0 : (int)ViewBag.ClientId;
                    var allocationId = ViewBag.AllocationId == null ? 0 : (int)ViewBag.AllocationId;
                    var allocateNumbers = context.TicketAllocationNumbers.Where(n => n.TicketAllocation.RaffleId == Model.Id
                        && (clientId == 0 || n.TicketAllocation.ClientId == clientId)
                         && (allocationId == 0 || n.TicketAllocation.Id == allocationId));
                    var clients = allocateNumbers.GroupBy(n => n.TicketAllocation.ClientId).Select(n => new
                    {
                        Client = n.FirstOrDefault().TicketAllocation.Client,
                        Number = n
                    });

                    var totalValue = 0.0m;
                    int totalFraction = 0;
                    int totalNumber = 0;
                }
                @foreach (var client in clients)
                {
                    int subTotalNumber = 0, subTotalFraction = 0;
                    decimal subTotalValue = 0.0m;
                    <tr>
                        <th colspan="4">@client.Client.Name</th>
                    </tr>
                    foreach (var number in client.Number)
                    {
                        subTotalNumber += 1;
                        subTotalFraction += 1;
                        var priceFraction = number.TicketAllocation.Raffle.Prospect.Prospect_Price.FirstOrDefault(p => p.PriceId == client.Client.PriceId).FactionPrice;
                        var stringNumber = number.Number.ToString();
                        var fractionQuantity = number.FractionTo - number.FractionFrom + 1;
                        var subTotal = fractionQuantity * priceFraction;
                        <tr>
                            <td class="text-right">@stringNumber</td>
                            <td class="text-right">@fractionQuantity</td>
                            <td class="text-right">@priceFraction.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                            <td class="text-right">@subTotal.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                        </tr>
                        subTotalValue += subTotal;
                    }
                    <tr class="sub-total">
                        <td class="text-right">@subTotalNumber</td>
                        <td class="text-right">@subTotalFraction</td>
                        <td class="text-right"></td>
                        <td class="text-right">@subTotalValue.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    totalNumber += subTotalNumber;
                    totalFraction += subTotalFraction;
                    totalValue += subTotalValue;
                }
            </tbody>
            <tfoot>
                <tr class="total">
                    <td class="text-right">@totalNumber</td>
                    <td class="text-right">@totalFraction</td>
                    <td class="text-right"></td>
                    <td class="text-right">@totalValue.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <b>@adminName</b><br />
        <span>@adminCargo</span>
    </div>
</div>