@model IEnumerable<Tickets.Models.ModelsProcedures.AllocationSummary>

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Resumen de Asignaciones";

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.ControlPremio : "";
    string adminCargo = config != null ? config.ControlPremioCargo : "";

    int raffleid = Model.Select(s => s.RaffleId).FirstOrDefault();
    var RaffleData = context.Raffles.Where(w => w.Id == raffleid).FirstOrDefault();
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <img src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b><br />
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b><br />
            <h3><b>RESUMEN DE ASIGNACIONES DEL SORTEO No.@RaffleData.Id</b></h3><br />
            Fecha del Sorteo @RaffleData.DateSolteo.ToShortDateString()
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <b>Fecha: </b> @DateTime.Now.ToShortDateString() <br />
            <b>Hora: </b> @DateTime.Now.ToShortTimeString()
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center"><b>ASIGNACION</b></th>
                    @*<th class="text-left"><b>FECHA</b></th>*@
                    <th class="text-left"><b>TIPO DE <br /> ASIGNACION</b></th>
                    <th class="text-left"><b>NOMBRE</b></th>
                    <th class="text-right"><b>FRACCIONES</b></th>
                    <th class="text-right"><b>HOJAS</b></th>
                    <th class="text-right"><b>NUMEROS</b></th>
                    <th class="text-right"><b>MONTO</b></th>
                    <th class="text-right"><b>DESCUENTO</b></th>
                    <th class="text-right"><b>MONTO A <br /> PAGAR</b></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var totalValue = 0.0m;
                    var totalValueToPay = 0.0m;
                    int totalFraction = 0;
                    int totalNumber = 0;
                    int totalSheets = 0;
                }

                @foreach (var allocation in Model)
                {
                    <tr>
                        <td class="text-center">@allocation.AsignacionId</td>
                        @*<td class="text-left">@allocation.Fecha</td>*@
                        @if (context.Clients.FirstOrDefault(w => w.Id == allocation.ClientId).GroupId == (int)Tickets.Models.Enums.ClientGroupEnum.DistribuidorElectronico)
                        {
                            <td class="text-left">Electrónica</td>
                        }
                        else
                        {
                            <td class="text-left">Tradicional</td>
                        }
                        <td class="text-left">@allocation.Cliente</td>
                        <td class="text-right">@allocation.Fracciones.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-right">@allocation.Hojas.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-right">@allocation.Billetes.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-right">@allocation.Monto.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-right">@allocation.Descuento%</td>
                        <td class="text-right">@allocation.MontoAPagar.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>

                    totalNumber += allocation.Billetes;
                    totalFraction += allocation.Fracciones;
                    totalValue += allocation.Monto;
                    totalSheets += allocation.Hojas;
                    totalValueToPay += allocation.MontoAPagar;
                }
                <tr class="total">
                    <td class="text-left"></td>
                    <td class="text-left"></td>
                    <td class="text-left"><b>Total...:</b></td>
                    <td class="text-right"><b>@totalFraction.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</b></td>
                    <td class="text-right"><b>@totalSheets.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</b></td>
                    <td class="text-right"><b>@totalNumber.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</b></td>
                    <td class="text-right"><b>@totalValue.ToString("c", new System.Globalization.CultureInfo("es-DO"))</b></td>
                    <td></td>
                    <td class="text-right"><b>@totalValueToPay.ToString("c", new System.Globalization.CultureInfo("es-DO"))</b></td>
                </tr>
            </tbody>

        </table>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <b>@adminName</b><br />
        <span>@adminCargo</span>
    </div>
</div>