@model IEnumerable<Tickets.Models.ModelsProcedures.ModelProcedure_PayableAwards>

@{
    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    int raffleid = Model.Select(s => s.raffle).FirstOrDefault();
    var RaffleData = context.Raffles.Where(w => w.Id == raffleid).FirstOrDefault();

    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "BILLETES PAGABLES DEL SORTEO " + RaffleData.Symbol + RaffleData.Separator + RaffleData.SequenceNumber;

    var Porcentaje = config.LawDiscountPercentMayor;
    string adminName = config != null ? config.ControlPremio : "";
    string adminCargo = config != null ? config.ControlPremioCargo : "";

    var Contador = 0;
    decimal MontoApagarSorteo = 0;
    decimal ValorPremios = 0;

    int TicketFractions = (RaffleData.Prospect.LeafNumber * RaffleData.Prospect.LeafFraction);
    var clients = context.Clients.Select(s => new {s.Id, s.GroupId}).ToList();

    var Pendiente = "Pendiente";
    var Pagado = "Pagado";

    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-DO");
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>REPUBLICA DOMINICANA</b>
            <br />
            <b>MINISTERIO DE HACIENDA</b>
            <br />
            <b>ADMINISTRACION LOTERIA NACIONAL</b>
            <br />
            FECHA DEL SORTEO: @RaffleData.DateSolteo.ToLongDateString()
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>
                BILLETES PAGABLES DEL SORTEO <br />
                @RaffleData.Symbol @RaffleData.Separator @RaffleData.SequenceNumber @RaffleData.Name
            </b>
            <br />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-right">
            <b>FECHA: </b> @DateTime.Now.ToShortDateString()
            <br />
            <b>HORA: </b> @DateTime.Now.ToShortTimeString()
        </div>
    </div>
    <div class="col-lg-12 col-md-12 no-padder col-sm-12">
        @if (RaffleData.Statu != 70)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">@RaffleData.Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" colspan="6">
                            <h1>EL SORTEO NO HA SIDO GENERADO</h1>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else if (RaffleData.Statu == 70)
        {
            if (Model.Select(s => s.premios).FirstOrDefault() == false)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <h1>EL SORTEO NO TUVO GANADORES</h1>
                            </th>
                        </tr>
                    </thead>
                </table>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="6" class="text-center">RESUMEN DE PREMIOS</th>
                        </tr>
                        <tr>
                            <th class="text-center">FILA</th>
                            <th class="text-center">PREMIOS</th>
                            <th class="text-center">VALOR POR FRACCION</th>
                            <th class="text-center">CANTIDAD DE FRACCIONES</th>
                            @*<th class="text-center">Monto en premios</th>*@
                            <th class="text-center">MONTO A PAGAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            //var totalPremios = 0;
                            var totalFracciones = 0;
                            var TotalPremios = 1;
                            decimal resumenValorPremios = 0, resumenMontoApagarSorteo = 0;
                            var resumenPremios = Model.GroupBy(g => g.nameaward)
                                .Select(s => new
                                {
                                    name = s.Key,
                                    monto = s.FirstOrDefault().value / TicketFractions,
                                    cantidadFracciones = s.Sum(s1 => s1.fracciones),
                                    totalPremio = s.Sum(s1 => s1.value),
                                    totalPagar = s.Sum(s2 => s2.valorpagar)
                                });
                        }
                        @foreach (var item in resumenPremios)
                        {
                            //totalPremios += item.cantidad;
                            totalFracciones += item.cantidadFracciones;
                            resumenValorPremios += item.totalPremio;
                            resumenMontoApagarSorteo += item.totalPagar;
                            <tr>
                                <td class="text-center">@TotalPremios</td>
                                <td class="text-center">@item.name</td>
                                <td class="text-center">@item.monto.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                <td class="text-center">@item.cantidadFracciones.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                                @*<td class="text-center">@item.totalPremio.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>*@
                                <td class="text-center">@item.totalPagar.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                            </tr>
                            TotalPremios++;
                        }
                        <tr>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            @*<th class="text-center">Cantidad de premios: @totalPremios.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</th>*@
                            <th class="text-center">TOTAL EN FRACCIONES: @totalFracciones.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</th>
                            <th class="text-center">TOTAL A PAGAR: @resumenMontoApagarSorteo.ToString("c", new System.Globalization.CultureInfo("es-DO"))</th>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="8" class="text-center">@RaffleData.Name</th>
                        </tr>
                        <tr>
                            <th class="text-center">FILA</th>
                            <th class="text-center">BILLETE</th>
                            <th class="text-center">ESTATUS DE PAGO</th>
                            <th class="text-center">PREMIO</th>
                            <th class="text-center">FRACCIONES</th>
                            <th class="text-center">TIPO DE PREMIO</th>
                            <th class="text-center">VALOR POR FRACCION</th>
                            <th class="text-center">MONTO A PAGAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var IdentifyTickets = RaffleData.IdentifyBaches.Where(w => w.RaffleId == raffleid)
                                .Select(s => new
                                {
                                    s.IdentifyNumbers
                                }).ToList();

                            var totalFractions = Model.GroupBy(g => g.number).Count();
                        }

                        @foreach (var item in Model)
                        {
                            Contador++;
                            MontoApagarSorteo += item.valorpagar;
                            ValorPremios += item.value;

                            <tr>
                                <td class="text-center">@Contador</td>
                                <td class="text-center">@item.number.ToString().PadLeft((RaffleData.Prospect.Production - 1).ToString().Length, '0')</td>
                                @if (IdentifyTickets.Any(a => a.IdentifyNumbers.Any(a2 => a2.NumberId == item.tanId)))
                                {
                                    <td class="text-center">@Pagado</td>
                                }
                                else
                                {
                                    <td class="text-center">@Pendiente</td>
                                }
                                @if (clients.FirstOrDefault(w => w.Id == item.ClientId).GroupId == (int)Tickets.Models.Enums.ClientGroupEnum.DistribuidorElectronico)
                                {
                                    <td class="text-center">Electrónico</td>
                                }
                                else
                                {
                                    <td class="text-center">Tradicional</td>
                                }
                                <td class="text-center">@item.fracciones</td>
                                <td class="text-center">@item.nameaward</td>
                                <td class="text-center">@((item.value / TicketFractions).ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                                <td class="text-center">@item.valorpagar.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th class="text-center">BILLETES PREMIADOS: @totalFractions.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</th>
                            <td></td>
                            <th class="text-center">TOTAL VALOR POR FRACCION: @ValorPremios.ToString("c", new System.Globalization.CultureInfo("es-DO"))</th>
                            <th class="text-center">TOTAL A PAGAR: @MontoApagarSorteo.ToString("c", new System.Globalization.CultureInfo("es-DO"))</th>
                        </tr>
                    </tbody>
                </table>
            }
        }
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <b>Total a pagar: @MontoApagarSorteo.ToString("c", new System.Globalization.CultureInfo("es-DO"))</b>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <b>@adminName</b>
        <br />
        <span>@adminCargo</span>
        <br />
        <p>NOTA: Este reporte contiene los billetes pagables del sorteo número @RaffleData.SequenceNumber</p>
    </div>

    @*<div class="col-lg-12 no-padder text-center">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    <br />
                    ______________________________
                </div>
                Firma del Asesor
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    <br />
                    ______________________________
                </div>
                <p>Firma del encargado del departamento de tecnología de la información y comunicación</p>
            </div>
        </div>*@
</div>
