@model IEnumerable<Tickets.Models.ModelsProcedures.ModelInvoicedTickets>

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Billetes vendidos";

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.ProduccionSorteo : "";
    string adminCargo = config != null ? config.ProduccionSorteoCargo : "";

    int raffleid = Model.Select(s => s.RaffleId).FirstOrDefault();
    var RaffleData = context.Raffles.Where(w => w.Id == raffleid).FirstOrDefault();

    int TicketsCount = 0;

    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <img src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>REPUBLICA DOMINICANA</b><br />
            <b>MINISTERIO DE HACIENDA</b><br />
            <b>ADMINISTRACION LOTERIA NACIONAL</b><br />
            Fecha del sorteo: @RaffleData.DateSolteo.ToLongDateString()
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>NUMEROS FACTURADOS EN EL SORTEO NO. @RaffleData.Id</b><br />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-right">
            <b>Fecha: </b> @DateTime.Now.ToShortDateString() <br />
            <b>Hora: </b> @DateTime.Now.ToShortTimeString()
        </div>
    </div>
    <div class="col-lg-12 col-md-12 no-padder col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="11" class="text-center">@RaffleData.Name</th>
                </tr>
                <tr>
                    <th class="text-center">FILA</th>
                    <th class="text-center">COL 1</th>
                    <th class="text-center">COL 2</th>
                    <th class="text-center">COL 3</th>
                    <th class="text-center">COL 4</th>
                    <th class="text-center">COL 5</th>
                    <th class="text-center">COL 6</th>
                    <th class="text-center">COL 7</th>
                    <th class="text-center">COL 8</th>
                    <th class="text-center">COL 9</th>
                    <th class="text-center">COL 10</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any(a => a.Data) == true)
                {
                    HashSet<int> Billetes = new HashSet<int>();
                    Model.ToList().ForEach(f => Billetes.Add(f.Number));

                    TicketsCount = Model.Count();
                    var NextBiggerNumber = 0;
                    var numberCount = -1;
                    var production = RaffleData.Prospect.Production - 1;
                    int line = 1;
                    var MaxNumber = Model.Max(n => n.Number);
                    int inicio = 0, fin = 0;

                    while (numberCount <= MaxNumber)
                    {
                        int countTen = 1;
                        <tr>
                            <td class="text-center" style="color:red; font-weight:bold; font-size:12pt;">@line</td>
                            @while (countTen <= 10 && numberCount <= MaxNumber)
                            {
                                NextBiggerNumber = Billetes.FirstOrDefault(f => f > numberCount);
                                numberCount = NextBiggerNumber;
                                if (Model.Where(n => n.Number == numberCount).Any())
                                {
                                    countTen++;

                                    if (Model.Where(n => n.Number == (numberCount + 1)).Any())
                                    {
                                        inicio = (int)numberCount;
                                        numberCount++;
                                        while (Model.Where(n => n.Number == numberCount).Any())
                                        {
                                            fin = (int)numberCount++;
                                        }
                                        string stringNumberI = inicio.ToString();
                                        string stringNumberF = fin.ToString();
                                        string newStringNumberS = (stringNumberI.PadLeft(production.ToString().Length, '0') + " - " + stringNumberF.PadLeft(production.ToString().Length, '0'));

                                        <td class="text-center">@newStringNumberS</td>
                                    }
                                    else
                                    {
                                        string stringNumber = numberCount.ToString();
                                        string newStringNumber = stringNumber.PadLeft(production.ToString().Length, '0');
                                        <td class="text-center">@newStringNumber</td>
                                    }
                                    if (numberCount == MaxNumber)
                                    {
                                        numberCount++;
                                    }
                                }
                            }
                        </tr>
                        line += 1;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="11" class="text-center">
                            ESTE SORTEO NO TUVO VENTAS
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <b>Total billetes facturados: @TicketsCount.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</b>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <b>@adminName</b><br />
        <span>@adminCargo</span><br />
    </div>
</div>
