@model Tickets.Models.Raffle
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Numeros premiados";

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.LoteryAdmin : "";
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
    int ClientId = (int)ViewBag.clientId;
    var Client = context.Clients.FirstOrDefault(f => f.Id == ClientId);
}
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <img src="~/Images/logo.png"/>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>REPUBLICA DOMINICANA</b><br />
            <b>MINISTERIO DE HACIENDA</b><br />
            <b>ADMINISTRACION LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>NUMEROS PREMIADOS PARA EL SORTEO NO. @Model.Id</b><br />
            Fecha del Sorteo: @Model.DateSolteo.ToLongDateString()
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 no-padder text-left">
            <b>Cliente: </b> @Client.Name <br />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 no-padder text-right">
            <b>Fecha: </b> @DateTime.Now.ToShortDateString() <br/>
            <b>Hora: </b> @DateTime.Now.ToShortTimeString()
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder">
        <table class="table">
            <thead>
                <tr>
                    <th>NUMERO</th>
                    <th class="text-right" style="width:15%">Monto</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int numberCount = 0;
                    var allocations = context.TicketAllocationNumbers.Where(w => w.TicketAllocation.ClientId == ClientId && w.TicketAllocation.RaffleId == Model.Id).Select(s => new
                    {
                        number = s.Number
                    }).ToList();

                    var awards = Model.RaffleAwards
                    .OrderByDescending(n => n.Award.Value).AsEnumerable().GroupBy(n => n.Award.TypesAwardId)
                    .Select(n => new
                    {
                        typeAwardName = n.FirstOrDefault().Award.TypesAward.Name,
                        awards = n
                    }).ToList();

                    var totalValue = 0.0m;
                }
                @foreach (var typeAward in awards)
                {
                    var subTotal = 0.0m;
                    bool flag = true;
                    foreach (var a in allocations)
                    {
                        foreach (var award in typeAward.awards.Where(w => w.ControlNumber == a.number))
                        {
                            if (flag) { 
                            <tr>
                                <th colspan="2">@typeAward.typeAwardName</th>
                            </tr>
                        }
                        flag = false;
                        subTotal += award.Award.Value;

                        string stringNumber = award.ControlNumber.ToString();
                        int production = Model.Prospect.Production - 1;
                        while (stringNumber.Length < production.ToString().Length)
                        {
                            stringNumber = "0" + stringNumber;
                        }
                        numberCount++;
                        <tr>
                            <td>@stringNumber @(award.Award.ByFraction == (int)Tickets.Models.Enums.ByFractionEnum.S ? award.Fraction.ToString() : "")</td>
                            <td class="text-right">@award.Award.Value.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td> 
                        </tr> 
                        }
                    }
                    if (subTotal != 0)
                    {
                    <tr class="sub-total">
                        <td class="text-right">SubTotal...:</td>
                        <td class="text-right">@subTotal.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    }

                    totalValue += subTotal;
                }
            </tbody>
            <tfoot>
                <tr class="total">
                    <td class="text-left">Total Numeros...: @numberCount</td>
                    <td class="text-right">Total...: @totalValue.ToString("c",  new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
            </tfoot>
        </table>
    </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center" style="padding-top:10%">
        <b>@adminName</b><br />
        <span>Administrador General</span>
    </div>
</div>