@model IEnumerable<Tickets.Models.ModelsProcedures.ModelNetSalesByClient>

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Datos por cliente";

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.ControlPremio : "";
    string adminCargo = config != null ? config.ControlPremioCargo : "";

    var CantidadBilletesVendidos = 0;
    var CantidadBilletesDevueltos = 0;
    var FracionesDevueltas = 0;
    var VentaNeta = 0;
    decimal PorcentajeDevolucion;
    var ClientName = "";
    var StringNumero = "";
    var StringVentaNeta = "";
    decimal DecimalNumero;

    int raffleid = Model.Select(s => s.RaffleId).FirstOrDefault();
    var RaffleData = context.Raffles.Where(w => w.Id == raffleid).FirstOrDefault();
    var Clientes = Model.Select(s => s.ClientId).Distinct().ToList();

    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <img src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>REPUBLICA DOMINICANA</b>
            <br />
            <b>MINISTERIO DE HACIENDA</b>
            <br />
            <b>ADMINISTRACION LOTERIA NACIONAL</b>
            <br />
            Fecha del sorteo: @RaffleData.DateSolteo.ToLongDateString()
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>REPORTE DE BILLETES FACTURADOS VS DEVOLUCIONES</b>
            <br />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-right">
            <b>Fecha: </b> @DateTime.Now.ToShortDateString()
            <br />
            <b>Hora: </b> @DateTime.Now.ToShortTimeString()
        </div>
    </div>
    <div class="col-lg-12 col-md-12 no-padder col-sm-12">
        @if (Model.Select(s => s.Data).FirstOrDefault() == false)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="6" class="text-center">@RaffleData.Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" colspan="6">
                            <h1>ESTE SORTEO NO TUVO VENTAS</h1>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else if (Model.Select(s => s.Data).FirstOrDefault() == true)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="6" class="text-center">@RaffleData.Name</th>
                    </tr>
                    <tr>
                        <th class="text-center">ID Cliente</th>
                        <th class="text-center">Nombre del cliente</th>
                        <th class="text-center">Cantidad de billetes <br /> facturados</th>
                        <th class="text-center">Cantidad de billetes <br /> devueltos</th>
                        <th class="text-center">Ventas neta</th>
                        <th class="text-center">Porcentage de <br /> devolución <br /> aproximado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Clientes)
                    {
                        ClientName = Model.Where(w => w.ClientId == item).Select(s => s.ClientName).FirstOrDefault();
                        CantidadBilletesVendidos = Model.Where(w => w.ClientId == item).Count();
                        CantidadBilletesDevueltos = Model.Where(w => w.ClientId == item && w.ReturnFractions == w.TicketFractions).Count();
                        FracionesDevueltas = Model.Where(w => w.ClientId == item && w.ReturnFractions > 0 && w.ReturnFractions < w.TicketFractions).Sum(s => s.ReturnFractions);
                        VentaNeta = CantidadBilletesVendidos - CantidadBilletesDevueltos;
                        StringVentaNeta = VentaNeta + "." + FracionesDevueltas;
                        StringNumero = CantidadBilletesDevueltos + "." + FracionesDevueltas;
                        DecimalNumero = decimal.Parse(StringNumero.Replace(".",","));
                        PorcentajeDevolucion = (DecimalNumero * 100) / CantidadBilletesVendidos;

                        if(Math.Round(PorcentajeDevolucion) == 100 || Math.Round(PorcentajeDevolucion) == 0)
                        {
                            PorcentajeDevolucion = Math.Round(PorcentajeDevolucion);
                        }
                        else
                        {
                            PorcentajeDevolucion = Math.Round(PorcentajeDevolucion, 2);
                        }

                        <tr>
                            <td class="text-center">@item</td>
                            <td class="text-center">@ClientName</td>
                            <td class="text-center">@CantidadBilletesVendidos.00</td>
                            <td class="text-center">@StringNumero</td>
                            <td class="text-center">@StringVentaNeta</td>
                            <td class="text-center">@PorcentajeDevolucion%</td>
                        </tr>
                    }

                    @*<tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th class="text-center">Total: @ValorPremios.ToString("c", new System.Globalization.CultureInfo("es-DO"))</th>
                            <th class="text-center">Total: @MontoApagarSorteo.ToString("c", new System.Globalization.CultureInfo("es-DO"))</th>
                        </tr>*@
                </tbody>
            </table>
        }
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <b>@adminName</b>
        <br />
        <span>@adminCargo</span>
    </div>

    @*<div class="col-lg-12 no-padder text-center">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    <br />
                    ______________________________
                </div>
                Firma del Asesor
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    <br />
                    ______________________________
                </div>
                <p>Firma del encargado del departamento de tecnología de la información y comunicación</p>
            </div>
        </div>*@
</div>
