@model IEnumerable<Tickets.Models.ModelsProcedures.ModelProcedure_NetSalesByClient>

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "VENTAS POR CLIENTE DEL SORTEO NO. " + Model.FirstOrDefault().RaffleId;

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.Comercial : "";
    string adminCargo = config != null ? config.ComercialCargo : "";

    decimal TotalConsignado = 0;
    decimal TotalDevuelto = 0;
    decimal TotalVendido = 0;
    decimal TotalPorcentaje = 0.0m;
    int Fila = 1;

    var RaffleId = Model.FirstOrDefault().RaffleId;

    var RaffleData = context.Raffles.Where(w => w.Id == RaffleId).FirstOrDefault();

    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>REPUBLICA DOMINICANA</b>
            <br />
            <b>MINISTERIO DE HACIENDA</b>
            <br />
            <b>ADMINISTRACION LOTERIA NACIONAL</b>
            <br />
            FECHA DEL SORTEO: @RaffleData.DateSolteo.ToLongDateString().ToUpper()
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>REPORTE DE BILLETES CONSIGNADOS VS DEVOLUCIONES</b>
            <br />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-right">
            <b>Fecha: </b> @DateTime.Now.ToShortDateString()
            <br />
            <b>Hora: </b> @DateTime.Now.ToShortTimeString()
        </div>
    </div>
    <div class="col-lg-12 col-md-12 no-padder col-sm-12">
        @if (Model.Select(s => s.Data).FirstOrDefault() == false)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">@RaffleData.Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <h1>ESTE SORTEO NO TUVO VENTAS</h1>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else if (Model.Select(s => s.Data).FirstOrDefault() == true)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="7" class="text-center">@RaffleData.Name</th>
                    </tr>
                    <tr>
                        <th class="text-center">FILA</th>
                        <th class="text-center">NO. CLIENTE</th>
                        <th class="text-center">CLIENTE</th>
                        <th class="text-center">BILLETES Y FRACCIONES <br /> CONSIGNADAS</th>
                        <th class="text-center">BILLETES Y FRACCIONES <br /> DEVUELTAS</th>
                        <th class="text-center">BILLETES Y FRACCIONES <br /> VENDIDOS</th>
                        <th class="text-center">PORCENTAJE DE DEVOLUCION <br /> APROXIMADO</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@Fila</td>
                            <td class="text-center">@item.ClientId</td>
                            <td class="text-center">@item.ClientName</td>
                            <td class="text-center">@item.ConsignedTickets.ToString("n0", new System.Globalization.CultureInfo("es-DO"))-@item.ConsignedFractions.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                            <td class="text-center">@item.ReturnedTickets.ToString("n0", new System.Globalization.CultureInfo("es-DO"))-@item.ReturnedFractions.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                            <td class="text-center">@item.AvailableTickets.ToString("n0", new System.Globalization.CultureInfo("es-DO"))-@item.AvailableFractions.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                            <td class="text-center">@item.Percentage.ToString("n2", new System.Globalization.CultureInfo("es-DO"))%</td>
                        </tr>
                        Fila++;
                        TotalConsignado += item.TotalConsigned;
                        TotalDevuelto += item.TotalReturned;
                        TotalVendido += item.TotalAvailable;
                    }
                </tbody>
                @{ 
                    TotalPorcentaje = (TotalDevuelto * 100) / TotalConsignado;
                }
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-center">TOTAL CONSIGNADO: <br /> @((TotalConsignado / Model.FirstOrDefault().ProspectFractions).ToString("n0", new System.Globalization.CultureInfo("es-DO")))-@((TotalConsignado % Model.FirstOrDefault().ProspectFractions).ToString("n0", new System.Globalization.CultureInfo("es-DO")))</th>
                        <th class="text-center">TOTAL DEVUELTO: <br /> @((TotalDevuelto / Model.FirstOrDefault().ProspectFractions).ToString("n0", new System.Globalization.CultureInfo("es-DO")))-@((TotalDevuelto % Model.FirstOrDefault().ProspectFractions).ToString("n0", new System.Globalization.CultureInfo("es-DO")))</th>
                        <th class="text-center">TOTAL VENDIDO: <br /> @((TotalVendido / Model.FirstOrDefault().ProspectFractions).ToString("n0", new System.Globalization.CultureInfo("es-DO")))-@((TotalVendido % Model.FirstOrDefault().ProspectFractions).ToString("n0", new System.Globalization.CultureInfo("es-DO")))</th>
                        <th class="text-center">TOTAL DEVOLUCION: <br /> @TotalPorcentaje.ToString("n2", new System.Globalization.CultureInfo("es-DO"))% </th>
                    </tr>
                </thead>
            </table>
        }
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <b>@adminName</b>
        <br />
        <span>@adminCargo</span>
    </div>

    @*<div class="col-lg-12 no-padder text-center">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    <br />
                    ______________________________
                </div>
                Firma del Asesor
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    <br />
                    ______________________________
                </div>
                <p>Firma del encargado del departamento de tecnología de la información y comunicación</p>
            </div>
        </div>*@
</div>
