@model List<Tickets.Models.ReceiptPayment>

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Reporte Caja";

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.CajaGeneral : "";
    string adminCargo = config != null ? config.CajaGeneralCargo : "";
    decimal Total = 0.0m;
    var user = Model.Count > 0 ? context.Users.AsEnumerable().FirstOrDefault(u => u.Id == Model.FirstOrDefault().CreateUser) : null;
    var Genero = 0;

    if (user != null)
    {
        Genero = context.Users.Where(w => w.Id == user.Id).Select(s => s.Employee.Gender).FirstOrDefault();
    }

    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");

    var Efectivo = Tickets.Models.Enums.PaymentTypeTextEnum.Efectivo;
    var Cheque = Tickets.Models.Enums.PaymentTypeTextEnum.Cheques;
    var TargetaCredito = Tickets.Models.Enums.PaymentTypeTextEnum.TarjetaDeCredito;
    var NotaCredito = Tickets.Models.Enums.PaymentTypeTextEnum.NotaDeCredito;
    var DepTransf = Tickets.Models.Enums.PaymentTypeTextEnum.DepTransf;
}

<style>
    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-4 {
        width: 33.333%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .no-padder {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<div class="col-lg-12">
    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-12 no-padder text-center" style="margin-top: 50px;">
            <img src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>REPORTE DE CAJA DEL @Model.FirstOrDefault().CreateDate.ToShortDateString()</b>
        </div>
    </div>
    <div>
        <div class="col-lg-12 no-padder">
            @if (Genero == (int)Tickets.Models.Enums.GenderEnum.Femenino)
            {
                <strong>CAJERA: @(user.Employee.Name + " " + user.Employee.LastName)</strong>
            }
            else if (Genero == (int)Tickets.Models.Enums.GenderEnum.Masculino)
            {
                <strong>CAJERO: @(user.Employee.Name + " " + user.Employee.LastName)</strong>
            }
            @*else
                {
                    <strong>Usuario:@(user != null ? (user.Id + " - " + user.Name) : "")</strong>
                }*@
        </div>
        <div class="col-lg-12 no-padder">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">FACTURA</th>
                        <th class="text-center">RECIBO</th>
                        <th>CLIENTE</th>
                        <th>FECHA</th>
                        <th class="text-center">SORTEO</th>
                        <th>FORMA DE PAGO</th>
                        @if (Model.Any(a => a.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.TransDepDirect))
                        {
                            <th>REFERENCIA</th>
                        }
                        <th class="text-right">VALOR</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var receiptPayment in Model)
                    {
                        Total += (receiptPayment.TotalCash + receiptPayment.TotalCheck + receiptPayment.TotalCredit);
                        <tr>
                            <td class="text-center">
                                @receiptPayment.Invoice.Id
                            </td>
                            <td class="text-center">
                                @receiptPayment.Id
                            </td>
                            <td>
                                @if (receiptPayment.Client.GroupId == (int)Tickets.Models.Enums.ClientGroupEnum.CajaDespachoExpress)
                                {
                                    @(receiptPayment.Client.Id + " - " + receiptPayment.Client.Name)<br />@(receiptPayment.Nombre)
                                }
                                else
                                {
                                    @(receiptPayment.Client.Id + " - " + receiptPayment.Client.Name)
                                }
                            </td>
                            <td>@receiptPayment.CreateDate.ToString()</td>
                            <td class="text-center">@receiptPayment.Invoice.Raffle.Id</td>
                            <td>
                                @if (receiptPayment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.Cash)
                                {
                                    @Efectivo;
                                }
                                else if (receiptPayment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.Checks)
                                {
                                    @Cheque;
                                }
                                else if (receiptPayment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.CreditCard)
                                {
                                    @TargetaCredito;
                                }
                                else if (receiptPayment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.CreditNote)
                                {
                                    @NotaCredito;
                                }
                                else if (receiptPayment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.TransDepDirect)
                                {
                                    @DepTransf;
                                }
                            </td>
                            @if (Model.Any(a => a.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.TransDepDirect))
                            {
                                <td>
                                    @receiptPayment.Recibo
                                </td>
                            }
                            <td class="text-right">
                                @if (receiptPayment.TotalCash > 0)
                                {
                                    @(receiptPayment.TotalCash.ToString("c", new System.Globalization.CultureInfo("es-DO")))
                                }
                                else if (receiptPayment.TotalCredit > 0)
                                {
                                    @(receiptPayment.TotalCredit.ToString("c", new System.Globalization.CultureInfo("es-DO")))
                                }
                                else
                                {
                                    @(receiptPayment.TotalCheck.ToString("c", new System.Globalization.CultureInfo("es-DO")))
                                }
                            </td>
                        </tr>
                    }
                    <tr class="total">
                        <td colspan="8" class="text-right">Total: <strong>@(Total.ToString("c", new System.Globalization.CultureInfo("es-DO")))</strong></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="col-lg-12 no-padder text-center">
        <b>@adminName</b>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
        <div class="col-lg-12 no-padder text-center">

        </div>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <span>@adminCargo</span>
    </div>
</div>
