@model Tickets.Models.PaymentReceivableReportModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "RECIBO DE PAGO A PREMIO NO. " + Model.Id + " DEL SORTEO NO. " + Model.RaffleId;

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.CajaGeneral : "";
    string adminCargo = config != null ? config.CajaGeneralCargo : "";
    var raffleAwards = context.Raffles.FirstOrDefault(r => r.Id == Model.IdentifyBach.RaffleId).RaffleAwards.ToList();
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
    var RaffleData = context.Raffles.Where(w => w.Id == Model.RaffleId).FirstOrDefault();
}

<style>
    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-4 {
        width: 33.333%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .no-padder {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>

<div class="col-lg-12">
    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-12 no-padder text-center" style="margin-top: 50px;">
            <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>
                RECIBO DE PAGO POR PREMIO DEL SORTEO <br />
                @RaffleData.Symbol @RaffleData.Separator @RaffleData.Id @RaffleData.Name @RaffleData.DateSolteo.ToShortDateString()
            </b>
        </div>
    </div>
    <div class="col-lg-12 no-padder">
        <div class="col-lg-6 no-padder text-left">
            <b>Cliente: </b> @Model.ClientName<br />
            <b>Recibo de pago: </b> @Model.Id<br />
            @if (Model.CreditNoteId == 0)
            {
                <b>Pago en efectivo</b><br />
            }
            else
            {
                <b>Nota de Credito: #</b> @Model.CreditNoteId<br />
            }
            @*<b>Usuario: #</b> @context.Users.FirstOrDefault(u => u.Id == Model.UserId).Name*@
        </div>
        <div class="col-lg-6 no-padder text-right">
            <b>Fecha: </b> @Model.CreateDate.ToShortDateString() <br />
            <b>Hora: </b> @Model.CreateDate.ToShortTimeString() <br />
        </div>
    </div>
    <div>
        <div class="col-lg-12 no-padder">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">LOTE</th>
                        <th class="text-center">NUMERO</th>
                        <th class="text-center">TIPO DE PREMIO</th>
                        <th class="text-center">FRACCIONES DESDE-HASTA</th>
                        <th class="text-center">CANTIDAD FRACCIONES</th>
                        <th class="text-center">VALOR FRACCCION</th>
                        <th class="text-right">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int totalFraction = 0;
                        decimal totalGeneral = 0;
                        var totalFraction2 = Model.IdentifyBach.IdentifyNumbers
                            .Select(s => new
                            {
                                s.NumberId,
                                total = s.FractionTo - s.FractionFrom + 1,
                                s.FractionFrom,
                                s.FractionTo
                            }).Distinct().ToList();
                        totalFraction = totalFraction2.Sum(s => s.total);
                    }

                    @if (Model.IdentifyBach.IdentifyType == (int)Tickets.Models.Enums.IdentifyBachTypeEnum.Gamers)
                    {
                        foreach (var number in Model.IdentifyBach.IdentifyNumbers)
                        {
                            var raffleAwardList = raffleAwards.Where(rw => rw.ControlNumber == number.TicketAllocationNumber.Number
                            && number.TicketAllocationNumber.Id == number.NumberId && rw.Award.TypesAward.Creation != (int)Tickets.Models.Enums.TypesAwardCreationEnum.SameAwardDerived).ToList();

                            bool wfrac = true;
                            var fFrom = number.FractionFrom;
                            var fTo = number.FractionTo;
                            foreach (var a in raffleAwardList.Where(w => w.Award.ByFraction == (int)Tickets.Models.Enums.ByFractionEnum.S))
                            {
                                for (int i = fFrom; i <= fTo; i++)
                                {
                                    if (i == a.Fraction)
                                    {
                                        wfrac = true;
                                        break;
                                    }
                                    else
                                    {
                                        wfrac = false;
                                    }
                                }
                            }
                            if (wfrac == false)
                            {
                                raffleAwardList.RemoveAll(w => w.ControlNumber == number.TicketAllocationNumber.Number && w.Award.ByFraction == (int)Tickets.Models.Enums.ByFractionEnum.S);
                            }

                            foreach (var raffleAward in raffleAwardList)
                            {
                                var price = raffleAward.Award.Value / (raffleAward.Raffle.Prospect.LeafFraction * raffleAward.Raffle.Prospect.LeafNumber);
                                var total = (number.FractionTo - number.FractionFrom + 1) * price;

                                if (raffleAward.Award.TypesAward.Id == (int)Tickets.Models.Enums.AwardTypeEnum.WinFraction)
                                {
                                    total = raffleAward.Award.Value;
                                    //totalFraction += 1;
                                    <tr>
                                        <td class="text-center">@number.IdentifyBachId</td>
                                        <td class="text-center">@number.TicketAllocationNumber.Number.ToString().PadLeft(Model.Production.ToString().Length, '0')</td>
                                        <td class="text-center">@raffleAward.Award.Name</td>
                                        <td class="text-center">@(raffleAward.Award.ByFraction == (int)Tickets.Models.Enums.ByFractionEnum.S ? raffleAward.Fraction.ToString() : "")</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">@(raffleAward.Award.Value * (context.SystemConfigs.FirstOrDefault().LawDiscountPercentMayor / 100) ).ToString("c",  new System.Globalization.CultureInfo("es-DO"))</td>
                                        <td class="text-right">@total.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                    </tr>
                                }
                                else
                                {
                                    //totalFraction += (number.FractionTo - number.FractionFrom + 1);
                                    <tr>
                                        <td class="text-center">@number.IdentifyBachId</td>
                                        <td class="text-center">@number.TicketAllocationNumber.Number.ToString().PadLeft(Model.Production.ToString().Length, '0')</td>
                                        <td class="text-center">@raffleAward.Award.Name</td>
                                        <td class="text-center">@number.FractionFrom - @number.FractionTo</td>
                                        <td class="text-center">@(number.FractionTo - number.FractionFrom + 1)</td>
                                        <td class="text-center">@price.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                        <td class="text-right">@total.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                    </tr>
                                }
                                totalGeneral += total;
                            }
                        }

                        var identifyBach = context.IdentifyBaches.FirstOrDefault(i => i.Id == Model.IdentifyBach.Id);

                        decimal totalPayment = 0.0m;
                        if (identifyBach.IdentifyBachPayments.Count > 0)
                        {
                            totalPayment += identifyBach.IdentifyBachPayments.Select(i => i.Value).Aggregate((i, e) => i + e);
                        }
                        if (identifyBach.NoteCredits.Count > 0)
                        {
                            totalPayment += identifyBach.NoteCredits.Select(i => i.TotalCash).Aggregate((i, e) => i + e);
                        }

                        decimal percentValue = totalGeneral * (((decimal)Model.ReceivablePercent) / 100);

                        <tr class="total">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center"><strong>@totalFraction.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</strong></td>
                            <td class="text-right" colspan="2">Subtotal a pagar: <strong> @((totalGeneral).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</strong></td>
                        </tr>
                        if (Model.ReceivablePercent > 0)
                        {
                            <tr>
                                <td class="text-right" style="border-top: none;" colspan="7">Comisión a mayorista @(Model.ReceivablePercent)%: <strong> @((percentValue).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</strong></td>
                            </tr>
                        }
                        <tr>
                            <td class="text-right" style="border-top: none;" colspan="7">Pagos anteriores: <strong> @(((totalPayment + percentValue) - (Model.Value + percentValue) ).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</strong></td>
                        </tr>
                        <tr>
                            <td class="text-right" style="border-top: none;" colspan="7">Pago actual: <strong> @(Model.Value.ToString("c",  new System.Globalization.CultureInfo("es-DO")))</strong></td>
                        </tr>
                        <tr>
                            @if (Model.CreditNoteId != 0)
                            {
                                <td colspan="4" style="font-size:small; border-top:none;"><b>Concepto:</b> @Model.Concept</td>
                                <td class="text-right" style="border-top: none;" colspan="3">Pendiente por Pagar: <strong> @((totalGeneral + percentValue - totalPayment).ToString("c", new System.Globalization.CultureInfo("es-DO")))</strong></td>
                            }
                            else
                            {
                                <td class="text-right" style="border-top: none;" colspan="7">Pendiente por Pagar: <strong> @((totalGeneral + percentValue - totalPayment).ToString("c", new System.Globalization.CultureInfo("es-DO")))</strong></td>
                            }
                        </tr>
                    }
                    else if (Model.IdentifyBach.IdentifyType == (int)Tickets.Models.Enums.IdentifyBachTypeEnum.Sellers)
                    {
                        foreach (var number in Model.IdentifyBach.IdentifyNumbers)
                        {
                            var raffleAwardList = raffleAwards.Where(rw => rw.ControlNumber == number.TicketAllocationNumber.Number
                            && number.TicketAllocationNumber.Id == number.NumberId && rw.Award.TypesAward.Creation == (int)Tickets.Models.Enums.TypesAwardCreationEnum.SameAwardDerived).ToList();

                            bool wfrac = true;
                            var fFrom = number.FractionFrom;
                            var fTo = number.FractionTo;
                            foreach (var a in raffleAwardList.Where(w => w.Award.ByFraction == (int)Tickets.Models.Enums.ByFractionEnum.S))
                            {
                                for (int i = fFrom; i <= fTo; i++)
                                {
                                    if (i == a.Fraction)
                                    {
                                        wfrac = true;
                                        break;
                                    }
                                    else
                                    {
                                        wfrac = false;
                                    }
                                }
                            }
                            if (wfrac == false)
                            {
                                raffleAwardList.RemoveAll(w => w.ControlNumber == number.TicketAllocationNumber.Number && w.Award.ByFraction == (int)Tickets.Models.Enums.ByFractionEnum.S);
                            }

                            foreach (var raffleAward in raffleAwardList)
                            {
                                var price = raffleAward.Award.Value / (raffleAward.Raffle.Prospect.LeafFraction * raffleAward.Raffle.Prospect.LeafNumber);
                                var total = (number.FractionTo - number.FractionFrom + 1) * price;

                                if (raffleAward.Award.TypesAward.Id == (int)Tickets.Models.Enums.AwardTypeEnum.WinFraction)
                                {
                                    total = raffleAward.Award.Value;
                                    //totalFraction += 1;
                                    <tr>
                                        <td class="text-center">@number.IdentifyBachId</td>
                                        <td class="text-center">@number.TicketAllocationNumber.Number.ToString().PadLeft(Model.Production.ToString().Length, '0')</td>
                                        <td class="text-center">@raffleAward.Award.Name</td>
                                        <td class="text-center">@(raffleAward.Award.ByFraction == (int)Tickets.Models.Enums.ByFractionEnum.S ? raffleAward.Fraction.ToString() : "")</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">@(raffleAward.Award.Value * (context.SystemConfigs.FirstOrDefault().LawDiscountPercentMayor / 100)).ToString("c",  new System.Globalization.CultureInfo("es-DO"))</td>
                                        <td class="text-right">@total.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                    </tr>
                                }
                                else
                                {
                                    //totalFraction += (number.FractionTo - number.FractionFrom + 1);
                                    <tr>
                                        <td class="text-center">@number.IdentifyBachId</td>
                                        <td class="text-center">@number.TicketAllocationNumber.Number.ToString().PadLeft(Model.Production.ToString().Length, '0')</td>
                                        <td class="text-center">@raffleAward.Award.Name</td>
                                        <td class="text-center">@number.FractionFrom - @number.FractionTo</td>
                                        <td class="text-center">@(number.FractionTo - number.FractionFrom + 1)</td>
                                        <td class="text-center">@price.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                        <td class="text-right">@total.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                    </tr>
                                }
                                totalGeneral += total;
                            }
                        }

                        var identifyBach = context.IdentifyBaches.FirstOrDefault(i => i.Id == Model.IdentifyBach.Id);

                        decimal totalPayment = 0.0m;
                        if (identifyBach.IdentifyBachPayments.Count > 0)
                        {
                            totalPayment += identifyBach.IdentifyBachPayments.Select(i => i.Value).Aggregate((i, e) => i + e);
                        }
                        if (identifyBach.NoteCredits.Count > 0)
                        {
                            totalPayment += identifyBach.NoteCredits.Select(i => i.TotalCash).Aggregate((i, e) => i + e);
                        }

                        decimal percentValue = totalGeneral * (((decimal)Model.ReceivablePercent) / 100);

                        <tr class="total">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center"><strong>@totalFraction.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</strong></td>
                            <td class="text-right" colspan="2">Subtotal a pagar: <strong> @((totalGeneral).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</strong></td>
                        </tr>
                        if (Model.ReceivablePercent > 0)
                        {
                            <tr>
                                <td class="text-right" style="border-top: none;" colspan="7">Comisión a mayorista @(Model.ReceivablePercent)%: <strong> @((percentValue).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</strong></td>
                            </tr>
                        }
                        <tr>
                            <td class="text-right" style="border-top: none;" colspan="7">Pagos anteriores: <strong> @(((totalPayment + percentValue) - (Model.Value + percentValue) ).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</strong></td>
                        </tr>
                        <tr>
                            <td class="text-right" style="border-top: none;" colspan="7">Pago actual: <strong> @(Model.Value.ToString("c",  new System.Globalization.CultureInfo("es-DO")))</strong></td>
                        </tr>
                        <tr>
                            @if (Model.CreditNoteId != 0)
                            {
                                <td colspan="4" style="font-size:small; border-top:none;"><b>Concepto:</b> @Model.Concept</td>
                                <td class="text-right" style="border-top: none;" colspan="3">Pendiente por Pagar: <strong> @((totalGeneral + percentValue - totalPayment).ToString("c", new System.Globalization.CultureInfo("es-DO")))</strong></td>
                            }
                            else
                            {
                                <td class="text-right" style="border-top: none;" colspan="7">Pendiente por Pagar: <strong> @((totalGeneral + percentValue - totalPayment).ToString("c", new System.Globalization.CultureInfo("es-DO")))</strong></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-lg-12 no-padder text-center">
    <br />
    <br />
    <div class="col-lg-4 col-md-6 col-sm-6 text-center">
        <div class="col-lg-12 no-padder text-center">
            ______________________________
        </div>
        Firma del ganador
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 text-center">
        <div class="col-lg-12 no-padder text-center">
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 text-center">
        <div class="col-lg-12 no-padder text-center">
            ______________________________
        </div>
        Firma del cajero
    </div>
</div>
<div class="col-lg-12 no-padder text-center">
    <b>@adminName</b>
</div>
<div class="col-lg-12 no-padder text-center">
    <span>@adminCargo</span>
</div>
