@model Tickets.Models.Raffle
@{
    var checkClientId = ViewBag.ClientId == null ? 0 : (int)ViewBag.ClientId;
    var checkInvoiceId = ViewBag.invoiceId == null ? 0 : (int)ViewBag.invoiceId;
    var SequenceNumber = ViewBag.invoiceSequenceNumber == null ? 0 : (int)ViewBag.invoiceSequenceNumber;

    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    if (checkClientId == 0 || checkInvoiceId == 0)
    {
        ViewBag.Title = "NUMEROS FACTURADOS CORRESPONDIENTES AL SORTEO NO. " + Model.Symbol + Model.Separator + Model.SequenceNumber;
    }
    else
    {
        ViewBag.Title = "NUMEROS CORRESPONDIENTES A LA FACTURA NO. " + checkInvoiceId + " DEL SORTEO NO. " + Model.Symbol + Model.Separator + Model.SequenceNumber;
    }

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.Facturacion : "";
    string adminCargo = config != null ? config.FacturacionCargo : "";
}

<style>
    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-4 {
        width: 33.333%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .no-padder {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            @if (checkClientId == 0 || checkInvoiceId == 0)
            {
                <b>
                    DETALLE DE LA FACTURAS SORTEO <br />
                    @Model.Symbol @Model.Separator @Model.SequenceNumber @Model.Name @Model.DateSolteo.ToString("dd/MM/yyyy")
                </b>
            }
            else
            {
                <b>DETALLE DE LA FACTURA NO. @SequenceNumber DE FECHA @Model.Invoices.FirstOrDefault(f => f.Id == checkInvoiceId).CreateDate.ToString("dd/MM/yyyy") CORRESPONDIENTE AL SORTEO NO. @(Model.Symbol + Model.Separator + Model.SequenceNumber)</b>
            }
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-right">
            <b>FECHA: </b> @DateTime.Now.ToString("dd/MM/yyyy") <br />
            <b>HORA: </b> @DateTime.Now.ToString("hh:mm:ss tt") <br />
            <b>NUMERO DEL SORTEO: </b> @Model.Symbol @Model.Separator @Model.SequenceNumber
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder">
        <table class="table">
            <thead>
                <tr>
                    @if (checkClientId == 0 && checkInvoiceId == 0)
                    {
                        <th class="text-center">FACTURA</th>
                    }
                    <th class="text-center">NUMERO</th>
                    <th class="text-center">FRACCIONES</th>
                    <th class="text-center">CANTIDAD</th>
                    <th class="text-right">PRECIO POR FRACCION</th>
                    <th class="text-right">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var clientId = ViewBag.ClientId == null ? 0 : (int)ViewBag.ClientId;
                    var invoiceId = ViewBag.invoiceId == null ? 0 : (int)ViewBag.invoiceId;
                    var invoices = context.Invoices.Where(n => n.RaffleId == Model.Id && (clientId == 0 || n.ClientId == clientId) && (invoiceId == 0 || n.Id == invoiceId)).
                        GroupBy(i => i.ClientId).Select(i => new
                        {
                            Invoices = i,
                            Client = i.FirstOrDefault().Client
                        }).ToList();

                    var totalValue = 0.0m;
                    int totalFraction = 0;
                    int totalNumber = 0;
                    decimal totalClientDiscount = 0.00m;
                }
                @foreach (var client in invoices)
                {
                    int subTotalNumber = 0, subTotalFraction = 0;
                    decimal subTotalValue = 0.0m, clientDiscount = 0.00m;
                    <tr>
                        <th colspan="6" class="text-center">@client.Client.Id - @client.Client.Name</th>
                    </tr>
                    foreach (var invoice in client.Invoices)
                    {
                        foreach (var number in invoice.InvoiceTickets)
                        {
                            subTotalNumber += 1;
                            subTotalFraction += number.Quantity;
                            var priceFraction = invoice.Raffle.Prospect.Prospect_Price.FirstOrDefault(p => p.PriceId == invoice.Client.PriceId).FactionPrice;
                            var subTotal = number.Quantity * priceFraction;
                            <tr>
                                @if (checkClientId == 0 && checkInvoiceId == 0)
                                {
                                    <td class="text-center"><b>@invoice.SequenceNumber</b></td>
                                }
                                <td class="text-center">@number.TicketAllocationNumber.Number.ToString().PadLeft(((Model.Prospect.Production - 1).ToString().Length), '0')</td>
                                <td class="text-center">@number.TicketAllocationNumber.FractionFrom - @number.TicketAllocationNumber.FractionTo</td>
                                <td class="text-center">@number.Quantity</td>
                                <td class="text-right">@priceFraction.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                <td class="text-right">@subTotal.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                            </tr>
                            subTotalValue += subTotal;
                        }
                    }
                    clientDiscount = (subTotalValue * client.Invoices.FirstOrDefault().Discount) / 100;
                    <tr class="" style="border-top: 2px solid black">
                        @if (checkClientId == 0 && checkInvoiceId == 0)
                        {
                            <td class="text-right"></td>
                        }
                        <td class="text-center">@subTotalNumber</td>
                        <td class="text-right"></td>
                        <td class="text-center">@subTotalFraction</td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">SUB TOTAL: @subTotalValue.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    <tr class="">
                        @if (checkClientId == 0 && checkInvoiceId == 0)
                        {
                            <td class="text-right"></td>
                        }
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">@(client.Invoices.FirstOrDefault().Discount)% DESCUENTO: @clientDiscount.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    <tr class="">
                        @if (checkClientId == 0 && checkInvoiceId == 0)
                        {
                            <td class="text-right"></td>
                        }
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">TOTAL: @((subTotalValue - clientDiscount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                    totalNumber += subTotalNumber;
                    totalFraction += subTotalFraction;
                    totalValue += subTotalValue;
                    totalClientDiscount += clientDiscount;
                }
            </tbody>
            <tfoot>
                <tr class="" style="border-top: 4px double black">
                    @if (checkClientId == 0 && checkInvoiceId == 0)
                    {
                        <td class="text-right"></td>
                    }
                    <td class="text-center">@totalNumber</td>
                    <td class="text-right"></td>
                    <td class="text-center">@totalFraction</td>
                    <td class="text-right"></td>
                    <td class="text-right" style="font-weight:bold;"> SUB TOTAL: @totalValue.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr class="">
                    @if (checkClientId == 0 && checkInvoiceId == 0)
                    {
                        <td class="text-right"></td>
                    }
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right" style="font-weight:bold;">DESCUENTO: @totalClientDiscount.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr class="">
                    @if (checkClientId == 0 && checkInvoiceId == 0)
                    {
                        <td class="text-right"></td>
                    }
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right" style="font-weight:bold;">TOTAL GENERAL: @((totalValue - totalClientDiscount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <b>@adminName</b><br />
        <span>@adminCargo</span>
    </div>
</div>
