@model Tickets.Models.Invoice

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Detalle de factura No. " + Model.Id;

    var context = new Tickets.Models.TicketsEntities();
    var availableTicketsToInvoice = new Tickets.Models.Procedures.AvailableTicketToInvoice();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.Facturacion : "";
    string adminCargo = config != null ? config.FacturacionCargo : "";
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-DO");

    var TicketFractions = 0;
    var xpiredDate = Model.InvoiceDate.AddDays(Model.InvoiceExpredDay.Value);
    var InvoiceDiscount2 = 0.0m;
}
<style>
    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-4 {
        width: 33.333%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .no-padder {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>

@if (context.Raffles.Where(w => w.Id == Model.Raffle.Id).Select(s => s.Consignacion).FirstOrDefault() == true)
{
    <div class="col-lg-12">
        <div class="col-lg-12 no-padder text-center">
            <div class="col-lg-6 no-padder">
                <div class="col-lg-12 no-padder text-left">
                    <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>LOTERIA NACIONAL DOMINICANA</b>
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>SUCURSAL SANTO DOMINGO</b>
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>RNC:</b> 401007681
                </div>
                @if (Model.TaxReceiptNumbersHistories.Any())
                {
                    <div class="col-lg-12 no-padder text-left">
                        <b>FECHA:</b> @Model.TaxReceiptNumbersHistories.OrderByDescending(o => o.Id).FirstOrDefault().TaxReceiptAssignmentDate.Value.ToShortDateString()
                    </div>
                }
                else
                {
                    <div class="col-lg-12 no-padder text-left">
                        <b>FECHA:</b> @Model.CreateDate.ToShortDateString()
                    </div>
                }
                <div class="col-lg-12 no-padder text-left">
                    <b>FACTURA:</b> @Model.Id
                </div>
            </div>
            @if (Model.TaxReceiptNumbersHistories.Any())
            {
                <div class="col-lg-6 no-padder text-right">
                    <div class="col-lg-12 no-padder text-right">
                        <b>FACTURA DE: </b>
                    </div>
                    <div class="col-lg-12 no-padder text-right">
                        <b>@Model.TaxReceiptNumbersHistories.OrderByDescending(o => o.Id).FirstOrDefault().TaxReceiptNumber.TaxReceipt.Catalog.NameDetail</b>
                    </div>
                    <div class="col-lg-12 no-padder text-right">
                        <b>NCF:</b> @(Model.TaxReceiptNumbersHistories.OrderByDescending(o => o.Id).FirstOrDefault().TaxReceiptNumber.TaxReceipt.Catalog.Description2)@(Model.TaxReceiptNumbersHistories.OrderByDescending(o => o.Id).FirstOrDefault().TaxReceiptNumber.Number.ToString().PadLeft(8, '0'))
                    </div>
                    <div class="col-lg-12 no-padder text-right">
                        <b>NCF VALIDO HASTA: </b> @Model.TaxReceiptNumbersHistories.OrderByDescending(o => o.Id).FirstOrDefault().TaxReceiptNumber.TaxReceipt.DueDate.ToShortDateString()
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-12 no-padder text-center" style="margin-top:25px;">
            <div class="col-lg-6 no-padder">
                <div class="col-lg-12 no-padder text-left">
                    <b>CODIGO: </b> @Model.Client.Id @Model.InvoiceTickets.Select(t => t.TicketAllocationNumber.TicketAllocation.Agente).FirstOrDefault()
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>CEDULA/RNC: </b> @Model.Client.DocumentNumber
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>RAZON SOCIAL/NOMBRE: </b> <br /> @Model.Client.Name
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>DIRECCION: </b> @Model.Client.Addres
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>TELEFONO: </b> @Model.Client.Phone
                </div>
            </div>
            <div class="col-lg-6 no-padder text-right">
                <div class="col-lg-12 no-padder text-right">
                    <b>SORTEO: </b> @Model.RaffleId
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>FECHA DE SORTEO: </b> @Model.Raffle.DateSolteo.ToShortDateString()
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>FECHA LIMITE DE PAGO: </b> @xpiredDate.ToShortDateString()
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>CORREO ELECTRONICO: </b> <br /> @Model.Client.Email
                </div>
            </div>
        </div>
        <div class="col-lg-12 no-padder">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ASIGNACION</th>
                        <th class="text-center">FRACCIONES</th>
                        <th class="text-center">BILLETES-FRACCIONES</th>
                        <th class="text-center">PRECIO</th>
                        <th class="text-center">SUBTOTAL</th>
                        <th class="text-center">DESCUENTO</th>
                        <th class="text-right">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int subTotalNumber = 0, subTotalFraction = 0;
                        decimal subTotalValue = 0.0m, totalClientDiscount = 0.00m, totalgeneral = 0.00m, subTotal = 0.00m, discount = 0.00m, total = 0.00m;

                        var allocations = Model.InvoiceTickets.GroupBy(a => a.TicketAllocationNumber.TicketAllocationId).Select(a => new
                        {
                            AllocationId = a.FirstOrDefault().TicketAllocationNumber.TicketAllocationId,
                            TicketAllocationId = a.FirstOrDefault().TicketNumberAllocationId,
                            InvoiceDate = a.FirstOrDefault().Invoice.CreateDate,
                            Discount = a.FirstOrDefault().Invoice.Discount,
                            ClientId = a.FirstOrDefault().Invoice.ClientId,
                            RaffleId = a.FirstOrDefault().Invoice.RaffleId,
                            PriceFraction = a.FirstOrDefault().Invoice.InvoiceTickets.FirstOrDefault().PricePerFraction,
                            TicketFractions = (a.FirstOrDefault().Invoice.Raffle.Prospect.LeafFraction * a.FirstOrDefault().Invoice.Raffle.Prospect.LeafNumber),
                            Quantity = a.FirstOrDefault().Quantity * a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.TicketAllocationNumbers.Count(),
                            Numbers = a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.TicketAllocationNumbers,
                            FractionFrom = a.FirstOrDefault().TicketAllocationNumber.FractionFrom,
                            FractionTo = a.FirstOrDefault().TicketAllocationNumber.FractionTo,
                            ClientDiscount = @Model.Discount,
                            TypeId = a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.Type
                        });
                    }
                    @foreach (var number in allocations)
                    {
                        var Tickets = context.TicketAllocationNumbers.Where(w => w.TicketAllocationId == number.AllocationId && w.RaffleId == number.RaffleId).Select(s => s.Id);

                        if (context.TicketReturns.Where(w => Tickets.Contains(w.TicketAllocationNimberId) && w.CreateDate > number.InvoiceDate).Any())
                        {
                            subTotalNumber += 1;
                            subTotalFraction += number.Quantity;
                            subTotal = number.Quantity * number.PriceFraction;
                            discount = subTotal * number.Discount / 100;
                            total = subTotal - discount;
                            <tr>
                                <td class="text-center">@number.AllocationId</td>
                                <td class="text-center">@number.Numbers.Count</td>
                                <td class="text-center">@(number.Numbers.Count)-@(number.Quantity % number.TicketFractions) </td>
                                <td class="text-center">@number.PriceFraction.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                <td class="text-center">@subTotal.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                <td class="text-center">@discount.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                <td class="text-right">@total.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                            </tr>
                            subTotalValue += subTotal;
                            totalClientDiscount += (subTotal * number.ClientDiscount) / 100;
                            InvoiceDiscount2 = totalClientDiscount;
                            totalgeneral += total;
                        }
                        else
                        {
                            var Resultado = availableTicketsToInvoice.AvailableTicketsToInvoice(Model.Raffle.Id, number.AllocationId).ToList();
                            TicketFractions = Resultado.FirstOrDefault().TicketFraction;
                            var TotalFracciones = Resultado.Where(w => w.AllocationId == number.AllocationId).Sum(s => s.AvailableFractions);

                            subTotalNumber += 1;
                            subTotalFraction += TotalFracciones;
                            subTotal = TotalFracciones * number.PriceFraction;
                            discount = (subTotal * number.ClientDiscount) / 100;
                            total = subTotal - discount;
                            <tr>
                                <td class="text-center">@number.AllocationId</td>
                                <td class="text-center">@TotalFracciones</td>
                                <td class="text-center">@(TotalFracciones / Resultado.FirstOrDefault().TicketFraction)-@(TotalFracciones % Resultado.FirstOrDefault().TicketFraction) </td>
                                <td class="text-center">@number.PriceFraction.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                <td class="text-center">@subTotal.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                <td class="text-center">@discount.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                                <td class="text-right">@total.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                            </tr>
                            subTotalValue += subTotal;
                            totalClientDiscount += (subTotal * number.ClientDiscount) / 100;
                            InvoiceDiscount2 = totalClientDiscount;
                            totalgeneral += total;
                        }
                    }
                </tbody>
                <tfoot>
                    <tr style="border-top: 4px double black">
                        <td class="text-center">@subTotalNumber</td>
                        <td class="text-center">@subTotalFraction</td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-center">@(subTotalValue.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                        <td class="text-center">@(totalClientDiscount.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                        <td class="text-right">@(totalgeneral.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                    <tr style="border-top: 4px double black">
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Sub Total: @subTotalValue.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Descuento: @(totalClientDiscount.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Totala pagar: @((subTotalValue - totalClientDiscount).ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-lg-12 no-padder text-center">
            <br />
            <br />
            <br />
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Entregado por
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Recibido por
                <br />
                <br />
                <br />
            </div>
        </div>
        <div>
            <p><b>Nota:</b> Estimado cliente, transcurridas 72 horas de su fecha límite de pago, si su factura no ha sido saldada al 100%, su credito será bloqueado automáticamente</p>
            <h4><b>Vías de pago</b></h4>
            <p><b>Transferencia y/o Depósito:</b> Cuenta No. 9603498570 Banreservas (Favor incluir comentario de pago, Incluyendo nombre del cliente y numero de sorteo).</p>
            <p><b>Efectivo:</b> Caja General Oficina principal Lotería Nacional.</p>
            <p><b>Cheque:</b> Emitir cheque a nombre de Loteria Nacional Dominicana.</p>
        </div>
    </div>
}
else
{
    <div class="col-lg-12">
        <div class="col-lg-12 no-padder text-center">
            <div class="col-lg-12 no-padder text-center" style="margin-top: 50px;">
                <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
            </div>
            <div class="col-lg-12 no-padder text-center">
                <b>MINISTERIO DE HACIENDA</b>
            </div>
            <div class="col-lg-12 no-padder text-center">
                <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
            </div>
            <div class="col-lg-12 no-padder text-center">
                <b>DETALLE DE FACTURAS SORTEO NO.@Model.Raffle.Id DE FECHA @Model.Raffle.DateSolteo.ToShortDateString()</b>
            </div>
            <div class="col-lg-6 no-padder">
                <div class="col-lg-12 no-padder text-left">
                    <b>Cliente: </b> #@Model.Client.Name @Model.InvoiceTickets.Select(t => t.TicketAllocationNumber.TicketAllocation.Agente).FirstOrDefault()
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>Cajero: </b> #@Model.CreateUser
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>Fecha de Expiración: </b> @xpiredDate.ToShortDateString()
                </div>
            </div>
            <div class="col-lg-6 no-padder text-right">
                <div class="col-lg-12 no-padder text-right">
                    <b>Factura: </b> #@Model.Id
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>Fecha: </b> @Model.CreateDate.ToShortDateString()
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>Hora: </b> @Model.CreateDate.ToShortTimeString()
                </div>
            </div>
        </div>
        <div class="col-lg-12 no-padder">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ASIGNACION</th>
                        <th class="text-center">CANTIDAD DE BILLETES</th>
                        <th class="text-center">CANTIDAD DE FRACCIONES</th>
                        <th class="text-right">PRECIO POR FRACCION</th>
                        <th class="text-right">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int subTotalNumber = 0, subTotalFraction = 0, subtotalBilletes = 0;
                        decimal subTotalValue = 0.0m, totalClientDiscount = 0.00m/*, InvoiceDiscount = 0.0m*/;
                        var priceFraction = Model.Raffle.Prospect.Prospect_Price.FirstOrDefault(p => p.PriceId == Model.Client.PriceId).FactionPrice;
                        var allocations = Model.InvoiceTickets.GroupBy(a => a.TicketAllocationNumber.TicketAllocationId).Select(a => new
                        {
                            AllocationId = a.FirstOrDefault().TicketAllocationNumber.TicketAllocationId,
                            Quantity = a.FirstOrDefault().Quantity * a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.TicketAllocationNumbers.Count(),
                            Numbers = a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.TicketAllocationNumbers,
                            FractionFrom = a.FirstOrDefault().TicketAllocationNumber.FractionFrom,
                            FractionTo = a.FirstOrDefault().TicketAllocationNumber.FractionTo,
                            //ClientDiscount = a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.Client.Discount,
                            ClientDiscount = @Model.Discount, //a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.Invoice.Discount,
                                                              //InvoiceDiscount = ClientDiscount,
                            TypeId = a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.Type
                        });
                    }
                    @foreach (var number in allocations)
                    {
                        subTotalNumber += 1;
                        subTotalFraction += number.Quantity;
                        var subTotal = number.Quantity * priceFraction;
                        subtotalBilletes += number.Numbers.Count;
                        <tr>
                            <td class="text-center">@number.AllocationId</td>
                            <td class="text-center">@number.Numbers.Count </td>
                            <td class="text-center">@number.Quantity</td>
                            <td class="text-right">@priceFraction.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                            <td class="text-right">@subTotal.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                        </tr>
                        subTotalValue += subTotal;
                        totalClientDiscount += (subTotal * number.ClientDiscount) / 100;
                        InvoiceDiscount2 = totalClientDiscount;
                    }
                </tbody>
                <tfoot>
                    <tr style="border-top: 4px double black">
                        <td class="text-center">@subTotalNumber</td>
                        <td class="text-center">@subtotalBilletes</td>
                        <td class="text-center">@subTotalFraction</td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Sub Total: @subTotalValue.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Descuento: @(totalClientDiscount.ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Total: @((subTotalValue - totalClientDiscount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-lg-12 no-padder text-center">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Firma del Cliente
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Firma del Cajero
            </div>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>@adminName</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">

            </div>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <span>@adminCargo</span>
        </div>
    </div>

    <br>
    <br>

    <div class="col-lg-12">
        <div class="col-lg-12 no-padder text-center">
            <div class="col-lg-12 no-padder text-center" style="margin-top: 50px;">
                <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
            </div>
            <div class="col-lg-12 no-padder text-center">
                <b>MINISTERIO DE HACIENDA</b>
            </div>
            <div class="col-lg-12 no-padder text-center">
                <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
            </div>
            <div class="col-lg-12 no-padder text-center">
                <b>DETALLE DE FACTURAS SORTEO NO.@Model.Raffle.Id DE FECHA @Model.Raffle.DateSolteo.ToShortDateString()</b>
            </div>
            <div class="col-lg-6 no-padder">
                <div class="col-lg-12 no-padder text-left">
                    <b>Cliente: </b> #@Model.Client.Name @Model.InvoiceTickets.Select(t => t.TicketAllocationNumber.TicketAllocation.Agente).FirstOrDefault()
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>Cajero: </b> #@Model.CreateUser
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>Fecha de Expiración: </b> @xpiredDate.ToShortDateString()
                </div>
            </div>
            <div class="col-lg-6 no-padder text-right">
                <div class="col-lg-12 no-padder text-right">
                    <b>Factura: </b> #@Model.Id
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>Fecha: </b> @Model.CreateDate.ToShortDateString()
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>Hora: </b> @Model.CreateDate.ToShortTimeString()
                </div>
            </div>
        </div>
        <div class="col-lg-12 no-padder">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ASIGNACION</th>
                        <th class="text-center">CANTIDAD DE BILLETES</th>
                        <th class="text-center">CANTIDAD DE FRACCIONES</th>
                        <th class="text-right">PRECIO POR FRACCION</th>
                        <th class="text-right">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        subTotalNumber = 0; subTotalFraction = 0; subtotalBilletes = 0;
                        subTotalValue = 0.0m; totalClientDiscount = 0.00m;
                        priceFraction = Model.Raffle.Prospect.Prospect_Price.FirstOrDefault(p => p.PriceId == Model.Client.PriceId).FactionPrice;
                        allocations = Model.InvoiceTickets.GroupBy(a => a.TicketAllocationNumber.TicketAllocationId).Select(a => new
                        {
                            AllocationId = a.FirstOrDefault().TicketAllocationNumber.TicketAllocationId,
                            Quantity = a.FirstOrDefault().Quantity * a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.TicketAllocationNumbers.Count(),
                            Numbers = a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.TicketAllocationNumbers,
                            FractionFrom = a.FirstOrDefault().TicketAllocationNumber.FractionFrom,
                            FractionTo = a.FirstOrDefault().TicketAllocationNumber.FractionTo,
                            ClientDiscount = a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.Client.Discount,
                            TypeId = a.FirstOrDefault().TicketAllocationNumber.TicketAllocation.Type
                        });
                    }
                    @foreach (var number in allocations)
                    {
                        subTotalNumber += 1;
                        subTotalFraction += number.Quantity;
                        var subTotal = number.Quantity * priceFraction;
                        subtotalBilletes += number.Numbers.Count;
                        <tr>
                            <td class="text-center">@number.AllocationId</td>
                            <td class="text-center">@number.Numbers.Count </td>
                            <td class="text-center">@number.Quantity</td>
                            <td class="text-right">@priceFraction.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                            <td class="text-right">@subTotal.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                        </tr>
                        subTotalValue += subTotal;
                        totalClientDiscount = InvoiceDiscount2; //+= (subTotal * number.ClientDiscount) / 100;
                    }
                </tbody>
                <tfoot>
                    <tr style="border-top: 4px double black">
                        <td class="text-center">@subTotalNumber</td>
                        <td class="text-center">@subtotalBilletes</td>
                        <td class="text-center">@subTotalFraction</td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Sub Total: @subTotalValue.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Descuento: @(totalClientDiscount.ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right"></td>
                        <td class="text-right" style="font-weight:bold;">Total: @((subTotalValue - totalClientDiscount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-lg-12 no-padder text-center">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Firma del Cliente
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Firma del Cajero
            </div>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>@adminName</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <span>@adminCargo</span>
        </div>
    </div>
}
