@model Tickets.Models.Raffle
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Sorteo Virtual";
    var context = new Tickets.Models.TicketsEntities();
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-DO");
}

<style>
    /*PREMIOS MENORES*/
    .min-award {
        margin-top: 5px;
    }

        .min-award .title {
            font-size: 13pt;
            border-radius: 0px;
        }

    ul {
        list-style-type: none;
    }

    .min-award ul.column {
        height: auto;
        -webkit-column-count: 32;
        -moz-column-count: 32;
        column-count: 32;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 5px;
        list-style-type: none;
    }

        .min-award ul.column li {
            padding: 0;
            margin: 0;
            line-height: normal;
            font-size: 8pt;
            font-weight: bold;
        }
    /*PREMIOS MENORES*/

    .col-lg-2 {
        width: 16.66666667%;
        float: left;
    }

    .col-lg-4 {
        width: 32%;
        float: left;
    }

    .col-lg-20 {
        width: 19.60%;
        float: left;
    }

    .col-lg-22 {
        width: 21%;
        float: left;
    }

    .col-lg-78 {
        width: 78%;
        float: left;
    }

    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-3 {
        width: 24.6%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }
</style>


<div class="col-lg-12" style="width: 1400px;">
    <div class="col-lg-12 no-padder " style="text-align:center">
        MINISTERIO DE HACIENDA<br />
        ADMINSTRACION DE LA LOTERIA NACIONAL<br />
        LISTA DE PREMIOS MENORES DEL SORTEO @Model.Symbol @Model.Separator @Model.Id EN FECHA @Model.DateSolteo.ToLongDateString()<br />
        ORDENADOS EN ORDEN ASCENDENTE<br />
    </div>
    <!-- PREMIOS MENORES DE 500.00 C/U-->
    @if (Model.Prospect.Awards.Any(p => p.TypesAwardId == (int)Tickets.Models.Enums.AwardTypeEnum.Minors))
    {
        <div class="col-lg-12 no-padder min-award" style="width:99%;">
            @{
                var minAward = context.TypesAwards.FirstOrDefault(t => t.Id == (int)Tickets.Models.Enums.AwardTypeEnum.Minors);
                var lastUnit = "";
                var lastBall = context.RaffleAwards.FirstOrDefault(r => r.RaffleId == Model.Id && r.Award.TypesAwardId == (int)Tickets.Models.Enums.AwardTypeEnum.LastBall);
            }
            <div class="col-lg-12 no-padder title color">
                @minAward.Name DE @Model.Prospect.Awards.Where(p => p.TypesAwardId == (int)Tickets.Models.Enums.AwardTypeEnum.Minors).FirstOrDefault().Value.ToString("c", new System.Globalization.CultureInfo("es-DO"))
            </div>
            <div class="col-lg-12 no-padder">
                <ul class="column">
                    @foreach (var award in Model.RaffleAwards.Where(a => a.Award.TypesAward.Id == minAward.Id && a.ControlNumber != lastBall.ControlNumber).OrderBy(a => a.ControlNumber))
                    {
                        var currentUnit = Tickets.Models.Utils.GetNumberUnit(award.ControlNumber);
                        if (currentUnit != lastUnit && currentUnit != "")
                        {
                            lastUnit = currentUnit;
                            <li style="border-top: black 2px dotted;
                        border-bottom: black 2px dotted;
                        /*padding-top: 7px;
                        padding-bottom: 5px;*/
                        font-size: 8pt;
                        font-weight: bold;"><span>@currentUnit</span></li>
                    }
                    <li>@award.ControlNumber</li>
                }
                </ul>
            </div>
        </div>
    }
</div>
