@model Tickets.Models.OtherIncomesGroup

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "GRUPO DE INGRESOS " + Model.Symbol + Model.SequenceNumber.Value.ToString().PadLeft(Model.LengthZero.Value, '0') + " DE FECHA " + Model.CreateDate.Value.ToShortDateString();

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.CajaGeneral : "";
    string adminCargo = config != null ? config.CajaGeneralCargo : "";
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-DO");
}

<style>
    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-4 {
        width: 33.333%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .no-padder {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<div class="col-lg-12" style="margin-bottom:50px;">
    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-12 no-padder text-center" style="margin-top: 10px;">
            <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>
                GRUPO DE OTROS INGRESOS <br />
            </b>
        </div>
        <div class="col-lg-9 no-padder text-left">
            <div class="col-lg-12 no-padder text-left">
                <b>Descripción: </b>@Model.Description
            </div>
        </div>
        <div class="col-lg-3 no-padder text-right">
            <div class="col-lg-12 no-padder text-right">
                <b>Recibo: </b>@(Model.Symbol + Model.SequenceNumber.Value.ToString().PadLeft(Model.LengthZero.Value, '0'))
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>Creado en: </b> @Model.CreateDate.Value.ToShortDateString() - @Model.CreateDate.Value.ToShortTimeString()
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">No. recibo</th>
                    <th>Concepto</th>
                    <th class="text-center">Fecha de pago</th>
                    <th class="text-right" style="width:200px;">Monto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OtherIncomeDetails)
                {
                    <tr>
                        <td class="text-center">
                            @(item.Symbol + item.SequenceNumber.Value.ToString().PadLeft(item.LengthZero.Value, '0'))
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td class="text-center">
                            @item.PaymentDate.Value.ToShortDateString()
                        </td>
                        <td class="text-right">
                            @(item.Total.Value.ToString("c", new System.Globalization.CultureInfo("es-DO")))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 no-padder text-center">
        <br />
        <br />
        @*
            <div class="col-lg-4 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Firma Del Cliente
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Firma cajera
            </div>
        *@
    </div>
    <div class="col-lg-12 no-padder text-center">
        <b>@adminName</b>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <span>@adminCargo</span>
    </div>
</div>

<div class="col-lg-12">
    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-12 no-padder text-center" style="margin-top: 10px;">
            <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>
                RECIBO DE PAGO POR OTROS INGRESOS <br />
            </b>
        </div>
        <div class="col-lg-9 no-padder text-left">
            <div class="col-lg-12 no-padder text-left">
                <b>Descripción: </b>@Model.Description
            </div>
        </div>
        <div class="col-lg-3 no-padder text-right">
            <div class="col-lg-12 no-padder text-right">
                <b>Recibo: </b>@(Model.Symbol + Model.SequenceNumber.Value.ToString().PadLeft(Model.LengthZero.Value, '0'))
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>Creado en: </b> @Model.CreateDate.Value.ToShortDateString() - @Model.CreateDate.Value.ToShortTimeString()
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">No. recibo</th>
                    <th>Concepto</th>
                    <th class="text-center">Fecha de pago</th>
                    <th class="text-right" style="width:200px;">Monto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OtherIncomeDetails)
                {
                    <tr>
                        <td class="text-center">
                            @(item.Symbol + item.SequenceNumber.Value.ToString().PadLeft(item.LengthZero.Value, '0'))
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td class="text-center">
                            @item.PaymentDate.Value.ToShortDateString()
                        </td>
                        <td class="text-right">
                            @(item.Total.Value.ToString("c", new System.Globalization.CultureInfo("es-DO")))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 no-padder text-center">
        <br />
        <br />
        @*
            <div class="col-lg-4 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Firma Del Cliente
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Firma cajera
            </div>
        *@
    </div>
    <div class="col-lg-12 no-padder text-center">
        <b>@adminName</b>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <span>@adminCargo</span>
    </div>
</div>
