@model Tickets.Models.OtherIncomeDetail

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "RECIBO DE INGRESO NO. " + Model.Symbol + Model.SequenceNumber.Value.ToString().PadLeft(Model.LengthZero.Value, '0') + " DE FECHA " + Model.PaymentDate.Value.ToShortDateString();

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.CajaGeneral : "";
    string adminCargo = config != null ? config.CajaGeneralCargo : "";
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-DO");
}

<style>
    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-4 {
        width: 33.333%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .no-padder {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<div class="col-lg-12" style="margin-bottom:50px;">
    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-12 no-padder text-center" style="margin-top: 10px;">
            <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>
                RECIBO DE PAGO POR OTROS INGRESOS <br />
            </b>
        </div>
        <div class="col-lg-6 no-padder">
            <div class="col-lg-12 no-padder text-left">
                <b>Cuenta: </b> @Model.OtherIncome.AccountName
            </div>
            <div class="col-lg-12 no-padder text-left">
                <b>No. Cuenta crédito: </b> @Model.OtherIncome.Description
            </div>
            <div class="col-lg-12 no-padder text-left">
                <b>No. Cuenta débito: </b> @Model.Catalog.NameDetail
            </div>
        </div>
        <div class="col-lg-6 no-padder text-right">
            <div class="col-lg-12 no-padder text-right">
                <b>Recibo: </b>@(Model.Symbol + Model.SequenceNumber.Value.ToString().PadLeft(Model.LengthZero.Value, '0')) 
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>Pagado en: </b> @Model.PaymentDate.Value.ToShortDateString()
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>Creado en: </b> @Model.CreateDate.Value.ToShortDateString() - @Model.CreateDate.Value.ToShortTimeString()
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Concepto</th>
                    <th class="text-right" style="width:200px;">Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        @Model.Description
                    </td>
                    <td class="text-right">
                        @(Model.Total.Value.ToString("c", new System.Globalization.CultureInfo("es-DO")))
                    </td>
                </tr>
        </table>
    </div>

    <div class="col-lg-12 no-padder text-center">
        <br />
        <br />
        @*<div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            Firma Del Cliente
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            Firma cajera
        </div>*@
    </div>
    <div class="col-lg-12 no-padder text-center">
        <b>@adminName</b>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <span>@adminCargo</span>
    </div>
</div>

<div class="col-lg-12">
    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-12 no-padder text-center" style="margin-top: 10px;">
            <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>
                RECIBO DE PAGO POR OTROS INGRESOS <br />
            </b>
        </div>
        <div class="col-lg-6 no-padder">
            <div class="col-lg-12 no-padder text-left">
                <b>Cuenta: </b> @Model.OtherIncome.AccountName
            </div>
            <div class="col-lg-12 no-padder text-left">
                <b>No. Cuenta crédito: </b> @Model.OtherIncome.Description
            </div>
            <div class="col-lg-12 no-padder text-left">
                <b>No. Cuenta débito: </b> @Model.Catalog.NameDetail
            </div>
        </div>
        <div class="col-lg-6 no-padder text-right">
            <div class="col-lg-12 no-padder text-right">
                <b>Recibo: </b>@(Model.Symbol + Model.SequenceNumber.Value.ToString().PadLeft(Model.LengthZero.Value, '0'))
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>Pagado en: </b> @Model.PaymentDate.Value.ToShortDateString()
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>Creado en: </b> @Model.CreateDate.Value.ToShortDateString() - @Model.CreateDate.Value.ToShortTimeString()
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Concepto</th>
                    <th class="text-right" style="width:200px;">Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        @Model.Description
                    </td>
                    <td class="text-right">
                        @(Model.Total.Value.ToString("c", new System.Globalization.CultureInfo("es-DO")))
                    </td>
                </tr>
        </table>
    </div>

    <div class="col-lg-12 no-padder text-center">
        <br />
        <br />
        @*<div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            Firma Del Cliente
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            Firma cajera
        </div>*@
    </div>
    <div class="col-lg-12 no-padder text-center">
        <b>@adminName</b>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <span>@adminCargo</span>
    </div>
</div>
