@model Tickets.Models.Invoice
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "";

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.LoteryAdmin : "";
    var lastReceivable = Model.ReceivablePayments.Count > 0 ? Model.ReceivablePayments.ToList().Last() : null;
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
    //Datos Detalle Factura
    var allocations = Model.InvoiceTickets.GroupBy(a => a.TicketAllocationNumber.TicketAllocationId).Select(a => new
    {
        AllocationId = a.FirstOrDefault().TicketAllocationNumber.TicketAllocationId
    });
}
<style>
    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-4 {
        width: 33.333%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .no-padder {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<div class="col-lg-12">
    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-12 no-padder text-center" style="margin-top: 50px;">
            <img src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>DETALLE DE FACTURAS SORTEO NO.@Model.Raffle.Id DE FECHA @Model.Raffle.DateSolteo.ToShortDateString()</b>
        </div>
        <div class="col-lg-6 no-padder">
            <div class="col-lg-12 no-padder text-left">
                <b>Cliente: </b> #@Model.Client.Name
            </div>
            @if (lastReceivable != null)
            {
                <div class="col-lg-12 no-padder text-left">
                    <b>Estado: </b> @context.Catalogs.FirstOrDefault(c => c.Id == lastReceivable.Invoice.PaymentStatu).NameDetail
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>Recibo: </b>#@lastReceivable.Id
                </div>
            }
        </div>
        <div class="col-lg-6 no-padder text-right">
            <div class="col-lg-12 no-padder text-right">
                <b>Factura: </b> #@Model.Id
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>Fecha: </b> @DateTime.Now.ToShortDateString()
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>Hora: </b> @DateTime.Now.ToShortTimeString()
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Tipo de Pago</th>
                    <th class="text-center">Concepto</th>
                    <th class="text-center">Fecha del Pago</th>
                    <th class="text-right">Monto</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal totalPayment = 0.0m, totalRestant = 0.0m, totalInvoice = 0.0m;
                    var totals = new Tickets.Controllers.CashController().GetPaymentCash(Model);
                    totalRestant = totals.totalRestant;
                    totalInvoice = totals.totalInvoice;

                }
                @foreach (var payment in Model.ReceiptPayments)
                {
                    var totalCash = payment.TotalCash > 0 ? payment.TotalCash : payment.TotalCheck > 0 ? payment.TotalCheck : payment.TotalCredit;
                    if (payment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.CreditNote)
                    {
                        foreach (var creditNote in payment.NoteCreditReceiptPayments)
                        {
                            totalPayment += creditNote.TotalCash;
                            <tr>
                                <td class="text-center">@context.Catalogs.FirstOrDefault(c => c.Id == payment.ReceiptType).NameDetail #@creditNote.NoteCreditId</td>
                                <td class="text-center">@creditNote.NoteCredit.Concepts</td>
                                <td class="text-center">@payment.ReceiptDate.ToLongDateString() </td>
                                <td class="text-right">@(creditNote.TotalCash.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                            </tr>
                        }
                    }
                    else
                    {
                        totalPayment += totalCash;
                        <tr>
                            <td class="text-center">@context.Catalogs.FirstOrDefault(c => c.Id == payment.ReceiptType).NameDetail</td>
                            <td>Pago en efectivo</td>
                            <td class="text-center">@payment.ReceiptDate.ToLongDateString() </td>
                            <td class="text-right">@(((decimal)totalCash).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                        </tr>
                    }
                }
                @{
                    //var discount = totalInvoice * Model.Client.Discount / 100;
                    var discount = totalInvoice * Model.Discount / 100;
                }
            </tbody>
            <tfoot>
                <tr class="total">
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right">Total Pagado..: @totalPayment.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Facturado..: @totalInvoice.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Total Descuento..: @discount.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Total Facturado..: @((totalInvoice - discount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Total Restante..: @((totalRestant- discount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            FIRMA Del Cliente
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            Firma Encargada de Cuentas Por Cobrar
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            Firma Encargado de Caja
        </div>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <b>@adminName</b>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <span>Administrador General</span>
    </div>
</div>

<div class="col-lg-12">
    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-12 no-padder text-center" style="margin-top: 50px;">
            <img src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>DETALLE DE FACTURAS SORTEO NO.@Model.Raffle.Id DE FECHA @Model.Raffle.DateSolteo.ToShortDateString()</b>
        </div>
        <div class="col-lg-6 no-padder">
            <div class="col-lg-12 no-padder text-left">
                <b>Cliente: </b> #@Model.Client.Name
            </div>
            @if (lastReceivable != null)
            {
                <div class="col-lg-12 no-padder text-left">
                    <b>Estado: </b> @context.Catalogs.FirstOrDefault(c => c.Id == lastReceivable.Invoice.PaymentStatu).NameDetail
                </div>
                <div class="col-lg-12 no-padder text-left">
                    <b>Recibo: </b>#@lastReceivable.Id
                </div>
            }
        </div>
        <div class="col-lg-6 no-padder text-right">
            <div class="col-lg-12 no-padder text-right">
                <b>Factura: </b> #@Model.Id
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>Fecha: </b> @DateTime.Now.ToShortDateString()
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>Hora: </b> @DateTime.Now.ToShortTimeString()
            </div>
        </div>
    </div>


    <div class="col-lg-12 no-padder">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Tipo de Pago</th>
                    <th class="text-center">Concepto</th>
                    <th class="text-center">Fecha del Pago</th>
                    <th class="text-right">Monto</th>
                </tr>
            </thead>
            <tbody>
                @{
                    totalPayment = 0.0m; totalRestant = 0.0m; totalInvoice = 0.0m;
                    //var totals2 = new Tickets.Controllers.CashController().GetPaymentCash(Model);
                    totalRestant = totals.totalRestant;
                    totalInvoice = totals.totalInvoice;

                }
                @foreach (var payment in Model.ReceiptPayments)
                {
                    var totalCash = payment.TotalCash > 0 ? payment.TotalCash : payment.TotalCheck > 0 ? payment.TotalCheck : payment.TotalCredit;
                    if (payment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.CreditNote)
                    {
                        foreach (var creditNote in payment.NoteCreditReceiptPayments)
                        {
                            totalPayment += creditNote.TotalCash;
                            <tr>
                                <td class="text-center">@context.Catalogs.FirstOrDefault(c => c.Id == payment.ReceiptType).NameDetail #@creditNote.NoteCreditId</td>
                                <td class="text-center">@creditNote.NoteCredit.Concepts</td>
                                <td class="text-center">@payment.ReceiptDate.ToLongDateString() </td>
                                <td class="text-right">@(creditNote.TotalCash.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                            </tr>
                        }
                    }
                    else
                    {
                        totalPayment += totalCash;
                        <tr>
                            <td class="text-center">@context.Catalogs.FirstOrDefault(c => c.Id == payment.ReceiptType).NameDetail</td>
                            <td>Pago en efectivo</td>
                            <td class="text-center">@payment.ReceiptDate.ToLongDateString() </td>
                            <td class="text-right">@(((decimal)totalCash).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                        </tr>
                    }
                }
                @{
                    //var discount = totalInvoice * Model.Client.Discount / 100;
                }
            </tbody>
            <tfoot>
                <tr class="total">
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right">Total Pagado..: @totalPayment.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Facturado..: @totalInvoice.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Total Descuento..: @discount.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Total Facturado..: @((totalInvoice - discount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Total Restante..: @((totalRestant- discount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            FIRMA Del Cliente
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            Firma Encargada de Cuentas Por Cobrar
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            Firma Encargado de Caja
        </div>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <b>@adminName</b>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <span>Administrador General</span>
    </div>
</div>