@model Tickets.Models.Invoice
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "DETALLE DE PAGOS A FACTURA NO. " + Model.Id;

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.CajaGeneral : "";
    string adminCargo = config != null ? config.CajaGeneralCargo : "";
    var lastReceivable = Model.ReceivablePayments.Count > 0 ? Model.ReceivablePayments.ToList().Last() : null;
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-ES");
    //Datos Detalle Factura
    var allocations = Model.InvoiceTickets.GroupBy(a => a.TicketAllocationNumber.TicketAllocationId).Select(a => new
    {
        AllocationId = a.FirstOrDefault().TicketAllocationNumber.TicketAllocationId
    });

    /*var Efectivo = Tickets.Models.Enums.PaymentTypeTextEnum.Efectivo;
    var Cheque = Tickets.Models.Enums.PaymentTypeTextEnum.Cheques;
    var TargetaCredito = Tickets.Models.Enums.PaymentTypeTextEnum.TarjetaDeCredito;
    var NotaCredito = Tickets.Models.Enums.PaymentTypeTextEnum.NotaDeCredito;
    var DepTransf = Tickets.Models.Enums.PaymentTypeTextEnum.DepTransf;
    var CashAdvance = Tickets.Models.Enums.PaymentTypeTextEnum.CashAdvance;*/
}

<style>
    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-4 {
        width: 33.333%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .no-padder {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>

<div class="col-lg-12">
    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-12 no-padder text-center" style="margin-top: 50px;">
            <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
            @*<img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />*@
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>
                DETALLE DE PAGOS A FACTURA SORTEO <br /> 
                @Model.Raffle.Symbol @Model.Raffle.Separator @Model.Raffle.Id @Model.Raffle.Name @Model.Raffle.DateSolteo.ToShortDateString()
            </b>
        </div>
        <div class="col-lg-6 no-padder">
            <div class="col-lg-12 no-padder text-left">
                <b>CLIENTE: </b> @Model.Client.Name @Model.InvoiceTickets.Select(t => t.TicketAllocationNumber.TicketAllocation.Agente).FirstOrDefault()
            </div>
            <div class="col-lg-12 no-padder text-left">
                <b>FACTURA: </b> @Model.Id
            </div>
            @if (lastReceivable != null)
            {
                <div class="col-lg-12 no-padder text-left">
                    <b>ESTADO: </b> @context.Catalogs.FirstOrDefault(c => c.Id == lastReceivable.Invoice.PaymentStatu).NameDetail
                </div>
            }
        </div>
        <div class="col-lg-6 no-padder text-right">
            @*<div class="col-lg-12 no-padder text-right">
                    <b>Recibo: </b>#@lastReceivable.Id
                </div>*@
            <div class="col-lg-12 no-padder text-right">
                <b>FECHA: </b> @Model.CreateDate.ToShortDateString()
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>HORA: </b> @Model.CreateDate.ToShortTimeString()
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">RECIBO</th>
                    <th class="text-center">TIPO DE PAGO</th>
                    <th class="text-center">REFERENCIA</th>
                    <th class="text-center" width="30%">CONCEPTO</th>
                    <th class="text-center">FECHA DEL PAGO</th>
                    <th class="text-right">MONTO</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal totalPayment = 0.0m, totalRestant = 0.0m, totalInvoice = 0.0m;
                    var totals = new Tickets.Controllers.CashController().GetPaymentCash(Model);
                    totalRestant = totals.totalRestant;
                    totalInvoice = totals.totalInvoice;
                }
                @foreach (var payment in Model.ReceiptPayments)
                {
                    var totalCash = payment.TotalCash > 0 ? payment.TotalCash : payment.TotalCheck > 0 ? payment.TotalCheck : payment.TotalCredit;
                    if (payment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.CreditNote)
                    {
                        foreach (var creditNote in payment.NoteCreditReceiptPayments)
                        {
                            totalPayment += creditNote.TotalCash;
                            <tr>
                                <td style="vertical-align:middle;" class="text-center">
                                    @payment.Id
                                </td>
                                <td style="vertical-align:middle;" class="text-center">@context.Catalogs.FirstOrDefault(c => c.Id == payment.ReceiptType).NameDetail #@creditNote.NoteCreditId</td>
                                <td style="vertical-align:middle;">@payment.Recibo</td>
                                <td style="vertical-align:middle;" class="text-center">
                                    @payment.Notas
                                </td>
                                <td style="vertical-align:middle;" class="text-center">@payment.ReceiptDate.ToLongDateString() </td>
                                <td style="vertical-align:middle;" class="text-right">@(creditNote.TotalCash.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                            </tr>
                        }
                    }
                    else if (payment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.CashAdvance)
                    {
                        foreach (var creditNote in payment.NoteCreditReceiptPayments)
                        {
                            totalPayment += creditNote.TotalCash;
                            <tr>
                                <td style="vertical-align:middle;" class="text-center">
                                    @payment.Id
                                </td>
                                <td style="vertical-align:middle;" class="text-center">@context.Catalogs.FirstOrDefault(c => c.Id == payment.ReceiptType).NameDetail #@creditNote.NoteCreditId</td>
                                <td style="vertical-align:middle;">@payment.Recibo</td>
                                <td style="vertical-align:middle;" class="text-center">
                                    @creditNote.NoteCredit.Concepts
                                </td>
                                <td style="vertical-align:middle;" class="text-center">@payment.ReceiptDate.ToLongDateString() </td>
                                <td style="vertical-align:middle;" class="text-right">@(creditNote.TotalCash.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                            </tr>
                        }
                    }
                    else
                    {
                        totalPayment += totalCash;
                        <tr>
                            <td style="vertical-align:middle;" class="text-center">
                                @payment.Id
                            </td>
                            <td style="vertical-align:middle;" class="text-center">@context.Catalogs.FirstOrDefault(c => c.Id == payment.ReceiptType).NameDetail</td>
                            <td style="vertical-align:middle;" class="text-center">@payment.Recibo</td>
                            <td style="vertical-align:middle;" class="text-center">
                                @payment.Notas
                            </td>
                            <td style="vertical-align:middle;" class="text-center">@payment.ReceiptDate.ToLongDateString() </td>
                            <td style="vertical-align:middle;" class="text-right">@(((decimal)totalCash).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                        </tr>
                    }
                }
                @{
                    var discount = totalInvoice * Model.Discount / 100;
                }
            </tbody>
            <tfoot>
                <tr class="total">
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right">Total Pagado..: @totalPayment.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Facturado..: @totalInvoice.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Total Descuento..: @discount.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Total Facturado..: @((totalInvoice - discount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right" style="font-weight: bold;">Total Restante..: @((totalRestant - discount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                </tr>
                @if (context.NoteCredits.Where(w => w.ClientId == Model.ClientId && w.TypeNote == (int)Tickets.Models.Enums.NoteCreditEnum.CashAdvance && w.TotalRest > 0).Any())
                {
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right" style="font-weight: bold;">Avance de efectivo por de aplicar..: @((context.NoteCredits.Where(w => w.ClientId == Model.ClientId && w.TypeNote == (int)Tickets.Models.Enums.NoteCreditEnum.CashAdvance && w.TotalRest > 0).Sum(s => s.TotalRest)).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>

    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            FIRMA DEL CLIENTE
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            FIRMA DEL CAJERO
        </div>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <b>@adminName</b>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <span>@adminCargo</span>
    </div>
</div>

@*<div class="col-lg-12">
        <div class="col-lg-12 no-padder text-center">
            <div class="col-lg-12 no-padder text-center" style="margin-top: 50px;">
                <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
            </div>
            <div class="col-lg-12 no-padder text-center">
                <b>MINISTERIO DE HACIENDA</b>
            </div>
            <div class="col-lg-12 no-padder text-center">
                <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
            </div>
            <div class="col-lg-12 no-padder text-center">
                <b>DETALLE DE FACTURAS SORTEO NO.@Model.Raffle.Id DE FECHA @Model.Raffle.DateSolteo.ToShortDateString()</b>
            </div>
            <div class="col-lg-6 no-padder">
                <div class="col-lg-12 no-padder text-left">
                    <b>Cliente: </b> #@Model.Client.Name @Model.InvoiceTickets.Select(t => t.TicketAllocationNumber.TicketAllocation.Agente).FirstOrDefault()
                </div>
                @if (lastReceivable != null)
                {
                    <div class="col-lg-12 no-padder text-left">
                        <b>Estado: </b> @context.Catalogs.FirstOrDefault(c => c.Id == lastReceivable.Invoice.PaymentStatu).NameDetail
                    </div>
                    <div class="col-lg-12 no-padder text-left">
                        <b>Recibo: </b>#@lastReceivable.Id
                    </div>
                }
            </div>
            <div class="col-lg-6 no-padder text-right">
                <div class="col-lg-12 no-padder text-right">
                    <b>Factura: </b> #@Model.Id
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>Fecha: </b> @DateTime.Now.ToShortDateString()
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>Hora: </b> @DateTime.Now.ToShortTimeString()
                </div>
            </div>
        </div>


        <div class="col-lg-12 no-padder">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Tipo de Pago</th>
                        <th class="text-center">Referencia</th>
                        <th class="text-center">Concepto</th>
                        <th class="text-center">Fecha del Pago</th>
                        <th class="text-right">Monto</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        totalPayment = 0.0m; totalRestant = 0.0m; totalInvoice = 0.0m;
                        //var totals2 = new Tickets.Controllers.CashController().GetPaymentCash(Model);
                        totalRestant = totals.totalRestant;
                        totalInvoice = totals.totalInvoice;

                    }
                    @foreach (var payment in Model.ReceiptPayments)
                    {
                        var totalCash = payment.TotalCash > 0 ? payment.TotalCash : payment.TotalCheck > 0 ? payment.TotalCheck : payment.TotalCredit;
                        if (payment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.CreditNote)
                        {
                            foreach (var creditNote in payment.NoteCreditReceiptPayments)
                            {
                                totalPayment += creditNote.TotalCash;
                                <tr>
                                    <td class="text-center">@context.Catalogs.FirstOrDefault(c => c.Id == payment.ReceiptType).NameDetail #@creditNote.NoteCreditId</td>
                                    <td class="text-center">@payment.Recibo</td>
                                    <td class="text-center">
                                        @if (payment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.Cash)
                                        {
                                            @Efectivo;
                                        }
                                        else if (payment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.Checks)
                                        {
                                            @Cheque;
                                        }
                                        else if (payment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.CreditCard)
                                        {
                                            @TargetaCredito;
                                        }
                                        else if (payment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.CreditNote)
                                        {
                                            @NotaCredito;
                                        }
                                        else if (payment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.TransDepDirect)
                                        {
                                            @DepTransf;
                                        }
                                    </td>
                                    <td class="text-center">@payment.ReceiptDate.ToLongDateString() </td>
                                    <td class="text-right">@(creditNote.TotalCash.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                                </tr>
                            }
                        }
                        if (payment.ReceiptType == (int)Tickets.Models.Enums.PaymentTypeEnum.CashAdvance)
                        {
                            foreach (var creditNote in payment.NoteCreditReceiptPayments)
                            {
                                totalPayment += creditNote.TotalCash;
                                <tr>
                                    <td class="text-center">@context.Catalogs.FirstOrDefault(c => c.Id == payment.ReceiptType).NameDetail #@creditNote.NoteCreditId</td>
                                    <td>@payment.Recibo</td>
                                    <td class="text-center">
                                        @payment.Notas
                                    </td>
                                    <td class="text-center">@payment.ReceiptDate.ToLongDateString() </td>
                                    <td class="text-right">@(creditNote.TotalCash.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                                </tr>
                            }
                        }
                        else
                        {
                            totalPayment += totalCash;
                            <tr>
                                <td class="text-center">@context.Catalogs.FirstOrDefault(c => c.Id == payment.ReceiptType).NameDetail</td>
                                <td class="text-center">@payment.Recibo</td>
                                <td class="text-center">
                                    @payment.Notas
                                </td>
                                <td class="text-center">@payment.ReceiptDate.ToLongDateString() </td>
                                <td class="text-right">@(((decimal)totalCash).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                            </tr>
                        }
                    }
                    @{
                        //var discount = totalInvoice * Model.Client.Discount / 100;
                    }
                </tbody>
                <tfoot>
                    <tr class="total">
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right">Total Pagado..: @totalPayment.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right" style="font-weight: bold;">Facturado..: @totalInvoice.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right" style="font-weight: bold;">Total Descuento..: @discount.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right" style="font-weight: bold;">Total Facturado..: @((totalInvoice - discount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-right" style="font-weight: bold;">Total Restante..: @((totalRestant- discount).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-lg-12 no-padder text-center">
            <div class="col-lg-4 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Firma Del Cliente
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 text-center">
                <div class="col-lg-12 no-padder text-center">
                    ______________________________
                </div>
                Firma cajera
            </div>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>@adminName</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <span>@adminCargo</span>
        </div>
    </div>*@
