@model IEnumerable<Tickets.Models.ModelsProcedures.Raffle.ModelProcedure_RaffleSales>

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "REPORTE DE VENTAS DESDE " + ViewBag.StartDate + " HASTA" + ViewBag.EndDate;

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.LoteryAdmin : "";
    string adminCargo = config != null ? config.Cargo : "";

    var Raffles = Model.GroupBy(g => new
    {
        g.RaffleId,
        g.RaffleName,
        g.RaffleDate,
        g.GrossSales,
        g.NetSales
    }).Select(s => new
    {
        s.Key.RaffleId,
        s.Key.RaffleName,
        s.Key.RaffleDate,
        s.Key.GrossSales,
        s.Key.NetSales
    }).ToList();

    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-DO");
}

<style>
    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-4 {
        width: 33.333%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .no-padder {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>

<div class="col-lg-12">
    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-12 no-padder text-center" style="margin-top: 50px;">
            <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>REPORTE DE LOS SORTEOS ENTRE @ViewBag.StartDate Y @ViewBag.EndDate</b>
        </div>
    </div>
    <div class="col-lg-12 no-padder">
        <div class="col-lg-6 no-padder text-left">
        </div>
        <div class="col-lg-6 no-padder text-right">
            <b>FECHA: </b> @DateTime.Now.ToShortDateString() <br />
            <b>HORA: </b> @DateTime.Now.ToShortTimeString() <br />
        </div>
    </div>
    <div>
        <div class="col-lg-12 no-padder">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="3" class="text-center">GANADORES</th>
                    </tr>
                    <tr>
                        <th class="text-center">FILA</th>
                        <th class="text-center">SORTEO</th>
                        <th class="text-center">FECHA DEL SORTEO</th>
                        <th class="text-right">VENTA BRUTA</th>
                        <th class="text-right">VENTA EFECTIVA</th>
                        <th class="text-center">1<sup>RO</sup></th>
                        <th class="text-center">2<sup>DO</sup></th>
                        <th class="text-center">3<sup>RO</sup></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        decimal totalGrossSales = 0.0m;
                        decimal totalNetSales = 0.0m;
                        int row = 1;
                    }

                    @foreach (var raffle in Raffles)
                    {
                        var raffleAwards = Model.Where(w => w.RaffleId == raffle.RaffleId).ToArray();

                        <tr>
                            <td class="text-center">@row</td>
                            <td class="text-left">@raffle.RaffleId - @raffle.RaffleName</td>
                            <td class="text-center">@raffle.RaffleDate</td>
                            <td class="text-right">@(raffle.GrossSales.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                            <td class="text-right">@(raffle.NetSales.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                            <td class="text-center">@raffleAwards[0].Award</td>
                            <td class="text-center">@raffleAwards[1].Award</td>
                            <td class="text-center">@raffleAwards[2].Award</td>
                        </tr>

                        row += 1;
                        totalGrossSales += raffle.GrossSales;
                        totalNetSales += raffle.NetSales;
                    }
                </tbody>
                <tfoot>
                    <tr class="total" style="font-weight:bold">
                        <td class="text-center"></td>
                        <td colspan="2" class="text-right">Total General...:</td>
                        <td class="text-right">@(totalGrossSales.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                        <td class="text-right">@(totalNetSales.ToString("c", new System.Globalization.CultureInfo("es-DO")))</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <p>NOTA: Los números ganadores terminados en "C" son aquellos que están en la calle, los que terminan en "D" son los ganadores que fueron devueltos, los que terminan en “NF” son aquellos que no fueron facturados y los que terminan en "NA" son los que no están asignados</p>
        <b>Vicente Paulino Rosario</b><br />
        <span>Asesor</span>
    </div>
</div>
