@model List<Tickets.Models.TicketReturn>

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "RECIBO DE DEVOLUCION DEL SORTEO NO. " + Model.FirstOrDefault().RaffleId + ", GRUPO " + Model.FirstOrDefault().ReturnedGroup + " DEL CLIENTE " + Model.FirstOrDefault().Client.Name;

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.ProduccionSorteo : "";
    string adminCargo = config != null ? config.ProduccionSorteoCargo : "";
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("es-DO");

    var datas = Model.GroupBy(d => d.ReturnedGroup).Select(g => new
    {
        RaffleId = g.FirstOrDefault().RaffleId,
        ClientName = g.FirstOrDefault().Client.Name,
        Quantity = g.Select(c => (c.FractionTo - c.FractionFrom) + 1).Aggregate((f, l) => f + l),
        Group = g.FirstOrDefault().ReturnedGroup,
        Prospect = g.FirstOrDefault().Raffle.Prospect,
        ClientPrice = g.FirstOrDefault().Client.PriceId,
        Price = g.FirstOrDefault().Raffle.Prospect.Prospect_Price.Where(p => p.PriceId == g.FirstOrDefault().Client.PriceId).FirstOrDefault().FactionPrice
    }).ToList();
    var creditNote = context.NoteCredits.AsEnumerable().Where(c => c.RaffleId == Model.FirstOrDefault().RaffleId && c.ClientId == Model.FirstOrDefault().ClientId && Model.FirstOrDefault().Statu == (int)Tickets.Models.Enums.TicketReturnedStatuEnum.Invoiced).ToList();
}
<style>
    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .col-lg-4 {
        width: 33.333%;
        float: left;
    }

    .col-lg-8 {
        width: 66.666%;
        float: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .no-padder {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>

<div class="col-lg-12">
    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-12 no-padder text-center" style="margin-top: 50px;">
            <img style="height:65px; width:auto; margin-bottom:5px;" src="~/Images/logo.png" />
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>ADMINISTRACIÓN DE LA LOTERIA NACIONAL</b>
        </div>
        <div class="col-lg-12 no-padder text-center">
            <b>DIRECCIÓN DE SUPERVICIÓN DE PRODUCCIÓN DE SORTEO</b>
        </div>

        <div class="col-lg-12 no-padder text-right">
            <div class="col-lg-12 no-padder text-right">
                <b>FECHA: </b> @DateTime.Now.ToShortDateString()
            </div>
            <div class="col-lg-12 no-padder text-right">
                <b>SORTEO: </b> #@datas.FirstOrDefault().RaffleId
            </div>
        </div>
        <div class="col-lg-12 no-padder text-right">
            <div class="col-lg-4">
                <div class="col-lg-12 no-padder text-left">
                    <b>CLIENTE: </b> @datas.FirstOrDefault().ClientName
                </div>
                @if (creditNote.Count > 0)
                {
                    <div class="col-lg-12 no-padder text-left">
                        <b>NOTA DE CREDITO: </b> #@creditNote.LastOrDefault().Id
                    </div>
                }
            </div>
            <div class="col-lg-4">
                <div class="col-lg-12 no-padder text-center">
                    <b>RECIBO DE DEVOLUCIÓN</b>
                </div>
            </div>
            <div class="col-lg-4 no-padder">
                <div class="col-lg-12 no-padder text-right">
                    <b>CEDULA.:</b> ___________________
                </div>
                <div class="col-lg-12 no-padder text-right">
                    <b>TEL.:</b> ___________________
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padder">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">GRUPO</th>
                    <th class="text-center">PRODUCTO</th>
                    <th class="text-center">CANTIDAD</th>
                    <th class="text-center">UNIDAD</th>
                    <th class="text-right">PRECIO</th>
                    <th class="text-right">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var totals = 0.0m;
                    int totalFraction = 0;
                }
                @foreach (var data in datas)
                {
                    <tr>
                        @{
                            decimal total = data.Quantity * data.Price;
                            totalFraction += data.Quantity;
                            totals += total;
                        }
                        <td class="text-center">@data.Group</td>
                        <td class="text-center">BILLETE</td>
                        <td class="text-center">@data.Quantity</td>
                        <td class="text-center">FRACCION</td>
                        <td class="text-right">@data.Price.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-right">@total.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                }
                @{
                    var discount = totals * Model.FirstOrDefault().Discount / 100;
                    var totalValue = totals - discount;
                }
            </tbody>
            <tfoot>
                <tr class="total">
                    <td class="text-center">@datas.Count</td>
                    <td class="text-center"></td>
                    <td class="text-center">@totalFraction</td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right">SUB TOTAL..: @totals.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right">DESCUENTO..: @discount.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right">TOTAL..: @totalValue.ToString("c", new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-lg-12 no-padder text-center">
        <div class="col-lg-4 col-md-4 col-sm-4 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            FIRMA @datas.FirstOrDefault().ClientName
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            FIRMA INSPECTOR
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center">
            <div class="col-lg-12 no-padder text-center">
                ______________________________
            </div>
            FIRMA SUPERVISOR
        </div>
    </div>
    <div class="col-lg-12 no-padder text-center" style="margin-top:25px">
        <b>@adminName</b>
    </div>
    <div class="col-lg-12 no-padder text-center">
        <span>@adminCargo</span>
    </div>
</div>
