@model Tickets.Models.Raffle
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Resumen de Devoluciones";

    var context = new Tickets.Models.TicketsEntities();
    var config = context.SystemConfigs.FirstOrDefault();
    string adminName = config != null ? config.LoteryAdmin : "";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <img src="~/Images/logo.png"/>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
            <b>MINISTERIO DE HACIENDA</b><br />
            <b>ADMINISTRACION DE LA LOTERIA NACIONAL</b><br />
            <b>DEVOLUCION DE BILLETES DEL SORTEO @Model.Id</b><br />
            Desde @Model.StartReturnDate.ToShortDateString() hasta @Model.EndReturnDate.ToShortDateString()
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-right">
            <b>Fecha: </b> @DateTime.Now.ToShortDateString() <br/>
            <b>Hora: </b> @DateTime.Now.ToShortTimeString()
        </div>
    </div>
    
    @{
        var clients = Model.TicketReturns.Where(r => ViewBag.ClientId == 0 || r.ClientId == ViewBag.ClientId).GroupBy(t => t.ClientId).Select(c => new
        {
            Client = c.FirstOrDefault().Client,
            Returneds = c
        }).ToList();
        decimal totalValue = 0.0m, totalLeef = 0.0m;
        int totalFraction = 0;
        int totalNumber = 0;
        int totalGroup = 0;
    }
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder">
        <table class="table">
            <tbody>
                @foreach (var client in clients)
                {
                    int subTotalNumber = 0, subTotalFraction = 0, subTotalGroup = 0;
                    decimal subTotalValue = 0.0m, subTotalLeef = 0.0m;
                    var returnedGroups = client.Returneds.OrderBy(r=>r.ReturnedGroup).GroupBy(r => r.ReturnedGroup).Select(r => new
                    {
                        Group = r.FirstOrDefault().ReturnedGroup,
                        Quantity = r.Count(),
                        FractionQuantity = r.Select( e=> (e.FractionTo - e.FractionFrom + 1)).Aggregate((s,e)=> s+ e),
                        ProspectFraction = r.FirstOrDefault().Raffle.Prospect.LeafFraction,
                        Price = r.FirstOrDefault().TicketAllocationNumber.TicketAllocation.Raffle.Prospect.Prospect_Price.FirstOrDefault(p => p.PriceId == client.Client.PriceId).FactionPrice 
                    });
                    <tr>
                        <th colspan="6">@client.Client.Name</th>
                    </tr>
                    <tr>
                        <th class="text-center">GRUPO</th>
                        <th class="text-center">CANTIDAD DE REGISTRO</th>
                        <th class="text-center">FRACCIONES</th>
                        <th class="text-center">HOJAS</th>
                        <th class="text-right">PRECIO FRACCIONES</th>
                        <th class="text-right">TOTAL</th>
                    </tr>
                    foreach (var returned in returnedGroups)
                    {
                        subTotalFraction += returned.FractionQuantity;
                        var subTotal = returned.FractionQuantity * returned.Price;
                        decimal leef = ((decimal)returned.FractionQuantity) / ((decimal)returned.ProspectFraction);
                        <tr>
                            <td class="text-center">@returned.Group</td>
                            <td class="text-center">@returned.Quantity</td>
                            <td class="text-center">@returned.FractionQuantity</td>
                            <td class="text-center">@leef</td>
                            <td class="text-right">@returned.Price.ToString("c",  new System.Globalization.CultureInfo("es-DO"))</td>
                            <td class="text-right">@((returned.FractionQuantity * returned.Price).ToString("c",  new System.Globalization.CultureInfo("es-DO")))</td>
                        </tr>
                        subTotalValue += subTotal;
                        subTotalNumber += returned.Quantity;
                        subTotalGroup += 1;
                        subTotalLeef += leef;
                    }
                    <tr class="sub-total">
                        <td class="text-center">@subTotalGroup.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-center">@subTotalNumber.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-center">@subTotalFraction.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-center">@subTotalLeef.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                        <td class="text-right"></td>
                        <td class="text-right">@subTotalValue.ToString("c",  new System.Globalization.CultureInfo("es-DO"))</td>
                    </tr>
                    totalNumber += subTotalNumber;
                    totalFraction += subTotalFraction;
                    totalValue += subTotalValue;
                    totalGroup += subTotalGroup;
                    totalLeef += subTotalLeef;
                }
            </tbody>
            <tfoot>
                <tr class="total">
                    <td class="text-center">@totalGroup.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                    <td class="text-center">@totalNumber.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                    <td class="text-center">@totalFraction.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                    <td class="text-center">@totalLeef.ToString("n0", new System.Globalization.CultureInfo("es-DO"))</td>
                    <td class="text-right"></td>
                    <td class="text-right">@totalValue.ToString("c",  new System.Globalization.CultureInfo("es-DO"))</td>
                </tr>
            </tfoot>
        </table>
    </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 no-padder text-center">
        <b>@adminName</b><br />
        <span>Administrador General</span>
    </div>
</div>